/*contactenos*/

.container_one_toro{
display: block;   
margin-bottom: 100px;
}

/*******************************/

.container_two_contactanos{
 margin-top: 400px;
  
}
.container_two_contactanos h1{
color:white;
letter-spacing: 8.88px;
margin-top: -700px; 
    
margin-left: 100px;
text-shadow: 5px 6px 6px #000000AA;
opacity: 1;
font-size: 100px;

}
@media screen and (min-width: 300px) and (max-width: 479px){
.container_one_toro{
display: block;
margin-bottom: 100px;
align-content: flex-end;
}
.container_two_contactanos h1{
color:white;
letter-spacing: 8.88px;
margin-top: -580px;
text-shadow: 5px 6px 6px #000000AA;
opacity: 1;
font-size: 50px;
margin-left: 15px;
margin-bottom: 20px;
         }

}
@media screen and (min-width: 479px) and (max-width: 900px){
.container_one_toro{
 display: block;         
margin-bottom: 100px;
 }
.container_two_contactanos h1{
color:white;
letter-spacing: 8.88px;
margin-top: -650px;
align-items: flex-end;
text-shadow: 5px 6px 6px #000000AA;
opacity: 1;
font-size: 80px;
margin-left: 15px;
margin-bottom: 20px;
         }

}
 
/*menú contactenos*/
.list-contactenos li {
list-style: none;      
}

.list-contactenos a {
text-decoration: none;
color:white;
padding: 10px;
font-size: 60px;
}

.nav-contactenos ul{
margin-top:30px;
display: flex;
flex-direction: row;
padding: 10px;
justify-content: space-between;
        
}
/*mediaquerys menu contactenos*/
      
@media screen and (min-width: 320px) and (max-width: 479px){
      
.list-contactenos a {
text-decoration: none;
color:white;
padding: 10px;
font-size: 15px; 
}
.nav-contactenos ul{
flex-direction: row;            
margin-top:50px;
              
}
.list-contactenos img{
 width: 10%;
}
}
@media screen and (min-width: 480px) and (max-width: 599px){
      
           .list-contactenos a {
            text-decoration: none;
            color:white;
            padding: 10px;
            font-size: 25px; 
            }
            .nav-contactenos ul{
            flex-direction: row;            
            margin-top:50px;
                          
            }
            .list-contactenos img{
             width: 10%;
            }
  
}
@media screen and (min-width: 600px) and (max-width: 780px){
        .list-contactenos a {
            text-decoration: none;
            color:white;
            padding: 10px;
             font-size: 30px;
           
 
             }
      
             .nav-contactenos ul{
            flex-direction: row;
            
            margin-top:50px;
              
             }


}

@media screen and (min-width: 781px) and (max-width: 1024px){

        .list-contactenos a {
            text-decoration: none;
            color:white;
            padding: 10px;
             font-size: 30px;
           
 
             }
      
             .nav-contactenos ul{
            flex-direction: row;
            
            margin-top:50px;
              
             }


}

/*Ubicación*/
.container-ubicacion{
display:flex;
flex-direction: row;
justify-content: space-between;
       
}
.ubi2{
margin-right: 80px;
}
.container-ubicacion iframe{
width: 600px;
height: 350px;
border: 1dp solid #707070;
border-radius: 40px;
opacity: 1;
}

.container-ubicacion-text{
color:white;
display:flex;
flex-wrap: wrap;
flex-direction: row;
text-transform: uppercase;
opacity: 1;
margin-bottom: 30px;
margin-top:30px;
}
.container-ubicacion-text-2{
margin-left: 20px;
}
.container-ubicacion-text-p{
font-size: 14px;
}
.container-ubi{
margin-top:50px;
}
     
    
/*mediaquerys ubicacion*/
 @media screen and (min-width: 320px) and (max-width: 576px){
    .card-group-three-item-one-message h1{
font-size: 40px;

    }
    .container-ubicacion{
        display:flex;
        flex-direction: column;
        justify-content: center;
               
        }
        .container-ubicacion iframe{
        width: 300px;
        height: 250px;
        border: 1dp solid #707070;
        border-radius: 40px;
        opacity: 1;
        margin-left: 30px;
        margin-top: 20px;
        }
        
        .container-ubicacion-text{
        color:white;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-transform: uppercase;
        opacity: 1;
        margin-top:30px
        }
        .container-ubicacion-text-2{
        margin-left: 10px;
        }
        .container-ubicacion-text-p{
        font-size: 12px;
        }
        .container-ubi{
        margin-top:50px;
        }    

}
@media screen and (min-width: 576px) and (max-width: 768px){
    .card-group-three-item-one-message h1{
        font-size: 50px;
        
            }
    .container-ubicacion{
        display:flex;
        flex-direction: column;
        justify-content: center;
               
        }
        .container-ubicacion iframe{
        width: 500px;
        height: 250px;
        border: 1dp solid #707070;
        border-radius: 40px;
        opacity: 1;
        margin-left: 30px;
        margin-top: 20px;
        }
        
        .container-ubicacion-text{
        color:white;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-transform: uppercase;
        opacity: 1;
        margin-top:30px
        }
        .container-ubicacion-text-2{
        margin-left: 10px;
        }
        .container-ubicacion-text-p{
        font-size: 12px;
        }
        .container-ubi{
        margin-top:50px;
        }    
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .card-group-three-item-one-message h1{
        font-size: 70px;
        
            }
    .container-ubicacion{
        display:flex;
        flex-direction: column;
        align-items:center;
               
        }

        .ubi2{
            margin-left: 90px;
        }
        .container-ubicacion iframe{
        width: 400px;
        height: 250px;
        border: 1dp solid #707070;
        border-radius: 40px;
        opacity: 1;
        margin-left: 30px;
        margin-top: 20px;
        }
        
        .container-ubicacion-text{
        color:white;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-transform: uppercase;
        opacity: 1;
        margin-top:30px
        }
        .container-ubicacion-text-2{
        margin-left: 10px;
        }
        .container-ubicacion-text-p{
        font-size: 12px;
        }
        .container-ubi{
        margin-top:50px;
        }
}

@media screen and (min-width: 992px) and (max-width: 1300px){
    .card-group-three-item-one-message h1{
        font-size: 90px;
        
            }
    .container-ubicacion{
        display:flex;
        
        flex-direction: row;
        justify-content: space-between;
               
        }
        .ubi2{
        margin-right: 80px;
        }
        .container-ubicacion iframe{
        width: 450px;
        height: 350px;
        border: 1dp solid #707070;
        border-radius: 40px;
        opacity: 1;
        }
        
        .container-ubicacion-text{
        color:white;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-transform: uppercase;
        opacity: 1;
        margin-bottom: 30px;
        margin-top:30px;
        }
        .container-ubicacion-text-2{
        margin-left: 20px;
        }
        .container-ubicacion-text-p{
        font-size: 14px;
        }
        .container-ubi{
        margin-top:50px;
        }
 

}

  
 /*telefonos*/
.container-telefonos{
    margin-top:50px;
    margin-bottom: 100px;
}

 
/*redes sociales*/
.card-social-group{
display: flex;
flex-direction: row;
  justify-content: center;
  

}
 .img-social{
width: 150px;
height: 60px;
margin: 30px;

      }
.container-redes{
margin-top:40px;
}

/*mediaquery redes sociales*/

@media screen and (min-width: 320px) and (max-width: 479px){
.card-social-group{
display: flex;
flex-direction: row;

}
.img-social{
width: 70px;
height: 60px;

}
}
  
@media screen and (min-width: 480px) and (max-width: 599px){
.card-social-group{
display: flex;
flex-direction: row;
}
.img-social{
width: 100px;
height: 60px;

}
}

/*mensajes*/
.card-item-message-1{
background-image: url(../img/Recuadritriangulos.png);
background-size: 100% 100%;
background-repeat: no-repeat;
border-radius: 0em 2em 2em 0em;
width: 30%;
}
 .footer{
     margin-top: 30px;
 }



 /*card food*/

 .container-card-food-one{
 width: 100%;
 display:flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content:center;

 }
 
 .container-card-food-two{
background-color: white;
width: 330px;
height: 260px;
margin-bottom:30px;
box-shadow: 0px 3px 6px #00000029;
border-radius: 30px 0px;
opacity: 1;
margin-left:50px;
margin-right:50px;

 }

.card-food-text{
display:flex;
flex-direction: column;
margin-left:30px;
}
.card-food-text p{
margin-top:20px;
color:#0B0B0B;
}
.card-food-text h3{
margin-top:30px;
letter-spacing: 0px;
text-transform: uppercase;
opacity: 1;
font-size: 20px;
color:#6C200F;


}
.container-price{
margin-top:40px;
display:flex;
justify-content: space-between; 
color:#6C200F;
border-top: dotted;

}
.container-price p{
margin-top:15px;
color:#6C200F;
letter-spacing: 0px;

opacity: 1;

}
.container-price a{
text-decoration: none;
margin-top:15px;
color:#6C200F;
letter-spacing: 0px;
opacity: 1;
    
    }

.carrito-margin{

margin-left:30px;  
}

.carrito{
display: flex;
margin-right: 20px;
color:#6C200F;
margin-left:30px;
}
.carrito img{
width: 20px;
height: 20px;
margin-top:15px;
margin-right: 2px;
}


@media screen and (min-width: 300px) and (max-width: 589px){

    .container-card-food-one{
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        }
        .container-card-food-two{
       background-color: white;
       width: 240px;
       height: 260px;
       margin-bottom:30px;
       box-shadow: 0px 3px 6px #00000029;
       border-radius: 30px 0px;
       opacity: 1;
       
        }
       
       .card-food-text{
       display:flex;
       flex-direction: column;
      
       }
       .card-food-text h3{
       font-size:16px;
       color:#6C200F;
       }
       .card-food-text h3{
        font-size:16px;
        color:#6C200F;
        }
       .card-food-text p{
       letter-spacing: 0px;
       opacity: 1;
       font-size: 13px;
       color:#0B0B0B;
       
       }
     
       .container-price{
       display:flex;
       justify-content: space-between; 
       color:#6C200F;
       border-top: dotted;
       font-size: 13px;
       
       }
       .container-price p{
       color:#6C200F;
       letter-spacing: 0px;
       font-size: 13px;
       opacity: 1;
       
       }
       .container-price a{
       text-decoration: none;
       color:#6C200F;
       letter-spacing: 0px;
       opacity: 1;
       font-size: 13px;
           
           }
       
       .carrito-margin{
       
       margin-left:30px;  
       }
       
       .carrito{
       display: flex;
       margin-right: 20px;
       color:#6C200F;
       margin-left:30px;
       }
       .carrito img{
       width: 20px;
       height: 20px;
       margin-top:15px;
       margin-right: 2px;
       }
       






}
.container-card-food-one-tacos{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
   
    }
    
    .container-card-food-two-tacos{
   background-color: white;
   width: 330px;
   height: 260px;
   margin-bottom:30px;
   box-shadow: 0px 3px 6px #00000029;
   border-radius: 30px 0px;
   opacity: 1;
   margin-left:50px;
   margin-right:50px;
   
    }
   
   .card-food-text-tacos{
   display:flex;
   flex-direction: column;
   margin-left:30px;
   }
   .card-food-text-tacos p{
   margin-top:20px;
   color:#0B0B0B;
   }
   .card-food-text-tacos h3{
   margin-top:30px;
   letter-spacing: 0px;
   text-transform: uppercase;
   opacity: 1;
   font-size: 20px;
   color:#CF0C64;
   
   
   }
   .container-price-tacos{
   margin-top:40px;
   display:flex;
   justify-content: space-between; 
   color:#CF0C64;
   border-top: dotted;
   
   }
   .container-price-tacos p{
   margin-top:15px;
   color:#CF0C64;
   letter-spacing: 0px;
   
   opacity: 1;
   
   }
   .container-price-tacos a{
   text-decoration: none;
   margin-top:15px;
   color:#CF0C64;
   letter-spacing: 0px;
   opacity: 1;
       
       }
   
   .carrito-margin-tacos{
   
   margin-left:30px;  
   }
   
   .carrito-tacos{
   display: flex;
   margin-right: 20px;
   color:#CF0C64;
   margin-left:30px;
   }
   .carrito-tacos img{
   width: 20px;
   height: 20px;
   margin-top:15px;
   margin-right: 2px;
   }
   
   
   @media screen and (min-width: 300px) and (max-width: 589px){
   
       .container-card-food-one-tacos{
           width: 100%;
           display:flex;
           flex-wrap: wrap;
           flex-direction: column;
           }
           .container-card-food-two-tacos{
          background-color: white;
          width: 200px;
          height: 260px;
          margin-bottom:30px;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 30px 0px;
          opacity: 1;
          
           }
          
          .card-food-text-tacos{
          display:flex;
          flex-direction: column;
         
          }
          .card-food-text-tacos h3{
          font-size:15px;
          color:#CF0C64;
          }
          .card-food-text-tacos p{
          letter-spacing: 0px;
          opacity: 1;
          font-size: 13px;
          color:#0B0B0B;
          
          }
          .container-price-tacos{
          display:flex;
          justify-content: space-between; 
          color:#CF0C64;
          border-top: dotted;
          
          }
          .container-price-tacos p{
          color:#CF0C64;
          letter-spacing: 0px;
          font-size: 13px;
          opacity: 1;
          
          }
          .container-price-tacos a{
          text-decoration: none;
          color:#CF0C64;
          letter-spacing: 0px;
          opacity: 1;
          font-size: 13px;
              
              }
          
          .carrito-margin-tacos{
          
          margin-left:30px;  
          }
          
          .carrito-tacos{
          display: flex;
          margin-right: 20px;
          color:#CF0C64;
          margin-left:30px;
          }
          .carrito-tacos img{
          width: 20px;
          height: 20px;
          margin-top:15px;
          margin-right: 2px;
          }
          
   
   
   
   
   
   
   }

   .container-card-food-one-ensalada{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
   
    }
    
    .container-card-food-two-ensalada{
   background-color: white;
   width: 330px;
   height: 260px;
   margin-bottom:30px;
   box-shadow: 0px 3px 6px #00000029;
   border-radius: 30px 0px;
   opacity: 1;
   margin-left:50px;
   margin-right:50px;
   
    }
   
   .card-food-text-ensalada{
   display:flex;
   flex-direction: column;
   margin-left:30px;
   }
   .card-food-text-ensalada p{
   margin-top:20px;
   color:#0B0B0B;
   }
   .card-food-text-ensalada h3{
   margin-top:30px;
   letter-spacing: 0px;
   text-transform: uppercase;
   opacity: 1;
   font-size: 20px;
   color:#D35134;
   
   
   }
   .container-price-ensalada{
   margin-top:40px;
   display:flex;
   justify-content: space-between; 
   color:#D35134;
   border-top: dotted;
   
   }
   .container-price-ensalada p{
   margin-top:15px;
   color:#D35134;
   letter-spacing: 0px;
   
   opacity: 1;
   
   }
   .container-price-ensalada a{
   text-decoration: none;
   margin-top:15px;
   color:#D35134;
   letter-spacing: 0px;
   opacity: 1;
       
       }
   
   .carrito-margin-ensalada{
   
   margin-left:30px;  
   }
   
   .carrito-ensalada{
   display: flex;
   margin-right: 20px;
   color:#D35134;
   margin-left:30px;
   }
   .carrito-ensalada img{
   width: 20px;
   height: 20px;
   margin-top:15px;
   margin-right: 2px;
   }
   
   
   @media screen and (min-width: 300px) and (max-width: 589px){
   
       .container-card-food-one-ensalada{
           width: 100%;
           display:flex;
           flex-wrap: wrap;
           flex-direction: column;
           }
           .container-card-food-two-ensalada{
          background-color: white;
          width: 200px;
          height: 260px;
          margin-bottom:30px;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 30px 0px;
          opacity: 1;
          
           }
          
          .card-food-text-ensalada{
          display:flex;
          flex-direction: column;
         
          }
          .card-food-text-ensalada h3{
          font-size:15px;
          color:#D35134;
          }
          .card-food-text-ensalada p{
          letter-spacing: 0px;
          opacity: 1;
          font-size: 13px;
          color:#0B0B0B;
          
          }
          .container-price-ensalada{
          display:flex;
          justify-content: space-between; 
          color:#D35134;
          border-top: dotted;
          
          }
          .container-price-ensalada p{
          color:#D35134;
          letter-spacing: 0px;
          font-size: 13px;
          opacity: 1;
          
          }
          .container-price-ensalada a{
          text-decoration: none;
          color:#D35134;
          letter-spacing: 0px;
          opacity: 1;
          font-size: 10px;
              
              }
          
          .carrito-margin-ensalada{
          
          margin-left:30px;  
          }
          
          .carrito-ensalada{
          display: flex;
          margin-right: 20px;
          color:#D35134;
          margin-left:30px;
          }
          .carrito-ensalada img{
          width: 20px;
          height: 20px;
          margin-top:15px;
          margin-right: 2px;
          }
          
   
   
   
   
   
   
   }
   .container-card-food-one-chamacos{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
   
    }
    
    .container-card-food-two-chamacos{
   background-color: white;
   width: 330px;
   height: 260px;
   margin-bottom:30px;
   box-shadow: 0px 3px 6px #00000029;
   border-radius: 30px 0px;
   opacity: 1;
   margin-left:50px;
   margin-right:50px;
   
    }
   
   .card-food-text-chamacos{
   display:flex;
   flex-direction: column;
   margin-left:30px;
   }
   .card-food-text-chamacos p{
   margin-top:20px;
   color:#0B0B0B;
   }
   .card-food-text-chamacos h3{
   margin-top:30px;
   letter-spacing: 0px;
   text-transform: uppercase;
   opacity: 1;
   font-size: 20px;
   color:#EB9900;
   
   
   }
   .container-price-chamacos{
   margin-top:40px;
   display:flex;
   justify-content: space-between; 
   color:#EB9900;
   border-top: dotted;
   
   }
   .container-price-chamacos p{
   margin-top:15px;
   color:#EB9900;
   letter-spacing: 0px;
   
   opacity: 1;
   
   }
   .container-price-chamacos a{
   text-decoration: none;
   margin-top:15px;
   color:#EB9900;
   letter-spacing: 0px;
   opacity: 1;
       
       }
   
   .carrito-margin-chamacos{
   
   margin-left:30px;  
   }
   
   .carrito-chamacos{
   display: flex;
   margin-right: 20px;
   color:#EB9900;
   margin-left:30px;
   }
   .carrito-chamacos img{
   width: 20px;
   height: 20px;
   margin-top:15px;
   margin-right: 2px;
   }
   
   
   @media screen and (min-width: 300px) and (max-width: 589px){
   
       .container-card-food-one-chamacos{
           width: 100%;
           display:flex;
           flex-wrap: wrap;
           flex-direction: column;
           }
           .container-card-food-two-chamacos{
          background-color: white;
          width: 200px;
          height: 260px;
          margin-bottom:30px;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 30px 0px;
          opacity: 1;
          
           }
          
          .card-food-text-chamacos{
          display:flex;
          flex-direction: column;
         
          }
          .card-food-text-chamacos h3{
          font-size:15px;
          color:#EB9900;
          }
          .card-food-text-chamacos p{
          letter-spacing: 0px;
          opacity: 1;
          font-size: 13px;
          color:#0B0B0B;
          
          }
          .container-price-chamacos{
          display:flex;
          justify-content: space-between; 
          color:#EB9900;
          border-top: dotted;
          
          }
          .container-price-chamacos p{
          color:#EB9900;
          letter-spacing: 0px;
          font-size: 13px;
          opacity: 1;
          
          }
          .container-price-chamacos a{
          text-decoration: none;
          color:#EB9900;
          letter-spacing: 0px;
          opacity: 1;
          font-size: 13px;
              
              }
          
          .carrito-margin-chamacos{
          
          margin-left:30px;  
          }
          
          .carrito-chamacos{
          display: flex;
          margin-right: 20px;
          color:#EB9900;
          margin-left:30px;
          }
          .carrito-chamacos img{
          width: 20px;
          height: 20px;
          margin-top:15px;
          margin-right: 2px;
          }
   
   }

/*ventana*/

.ventana{
position: fixed;
display:flex;
flex-direction: row;
justify-content:space-between;
background-image: url(../img/Untitled-1.png);
width: 450px;

position: absolute;
padding-left: 30px;
padding-top: 30px;
min-height: 250px;
left:37%;
top:35%;
display:none;
box-shadow: 5px #000000CC;
border-radius: 15px 0px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%)

}
.ventana a{
text-decoration: none;
margin-top:15px;
color:#6C200F;    
}

.close-shop a{
display:flex;


}
.close-shop img{
width: 20px;
height: 20px;
position: absolute;
right: 3px;
top:10px;
}
.close-shop-orange img{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 3px;
    top:20px;
    }

.container-shopp{
margin-top:-30px;
display:flex;
flex-direction: row;

}

.container-shopp h1{
font-size: 15px;
color:#6C200F;
margin-top:16px;
}
.container-shopp p{
margin-left:50px;
color:#6C200F;
margin-top:12px;
}
.container-shopp-text{
margin-top:10px;
padding-right: 93px;   
}
.container-shopp-options{
    padding-right: 80px;   
}

.container-shopp-add{
    margin-left: 50px;
}

.container-shopp-options{
margin-top:20px;
color:#6C200F;
}
.container-shopp-options-two{
margin-top:20px;
display:flex;
flex-direction: row;
color:#6C200F;
}

.container-shopp-options-two p{
color:#6C200F;
margin-left:110px;
}

.container-shopp-subtotal{
display:flex;
flex-direction: row;
justify-content: space-between;
border-top: dotted;
margin-top:30px;
}

.container-shopp-subtotal p{
margin-top: 10px;
color: #0B0B0B;
margin-bottom: 30px;
}

.button-add{
display: flex;
justify-content: center;
}
.button-add button{
    width: 100px;
    height: 30px;
    background: #FFFFFF 0% 0% ;
    box-shadow: -1px 2px 3px #00000058;
    border: 1px solid #E7A436;
    border-radius: 21px;
    opacity: 1;
    justify-items: center;
}

/*mediaquery ventana*/

@media screen and (min-width: 300px) and (max-width: 589px){
    .ventana{
        position: fixed;
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        background-image: url(../img/Untitled-1.png);
        width: 330px;   
        position: absolute;
        padding-left: 30px;
        padding-top: 30px;
        min-height: 250px;
        left:37%;
        top:35%;
        display:none;
        box-shadow: 5px #000000CC;
        border-radius: 15px 0px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
        
        }
        .ventana a{
        text-decoration: none;
        margin-top:15px;
        color:#6C200F;    
        }
        
        .close-shop a{
        display:flex;
        
        
        }
        .close-shop img{
        width: 20px;
        height: 20px;
        position: absolute;
        right: 3px;
        top:10px;
        }
        
        .container-shopp{
        margin-top:-30px;
        display:flex;
        flex-direction: row;

        }
        
        .container-shopp h1{
            font-size: 11px;
        color:#6C200F;
        margin-top:16px;
        }
        .container-shopp p{
        margin-left:50px;
        color:#6C200F;
        margin-top:12px;
        font-size: 11px;
        }
        .container-shopp-text{
        font-size: 11px;
        margin-top:10px;
          
        }
        .container-shopp-options{
            padding-right: 80px;   
        }
        
        .container-shopp-add{
            margin-left: 50px;
        }
        
        .container-shopp-options{
        font-size: 8px;
        margin-top:20px;
        color:#6C200F;
        }
        .container-shopp-options-two{
        margin-top:20px;
        display:flex;
        flex-direction: row;
        color:#6C200F;
        }
        
        .container-shopp-options-two p{
        color:#6C200F;
        margin-left:110px;
        }
        
        .container-shopp-subtotal{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: dotted;
        margin-top:30px;
        }
        
        .container-shopp-subtotal p{
        margin-top: 10px;
        color: #0B0B0B;
        margin-bottom: 30px;
        }
        
        .button-add{
        display: flex;
        justify-content: center;
        }
        .button-add button{
            width: 100px;
            height: 30px;
            background: #FFFFFF 0% 0% ;
            box-shadow: -1px 2px 3px #00000058;
            border: 1px solid #E7A436;
            border-radius: 21px;
            opacity: 1;
            justify-items: center;
        }

        .input-inc{
            width: 20px;
            border: 1px solid #F7F7F7;
            background-color: #F7F7F7;
            }
            .decre-button{
    
            border: 1px solid #F7F7F7;
            background-color: #F7F7F7;  
            }
            .increment-button{
            border: 1px solid #F7F7F7;
            background-color: #F7F7F7; 
            }
            .container-incr{
            margin-top:10px;
        
            border-radius: 20px;
            background-color: #F7F7F7; 
            
            
            }
    

}


/*container inc*/
.input-inc{
width: 25px;
border: 1px solid #F7F7F7;
padding: 3%;
background-color: #F7F7F7;
}
.decre-button{
border: 1px solid #F7F7F7;
background-color: #F7F7F7;  
}
.increment-button{
border: 1px solid #F7F7F7;
background-color: #F7F7F7; 
}
.container-incr{
margin-top:10px;
margin-left:40px;
border-radius: 20px;
background-color: #F7F7F7; 


}


/*boton flotante*/

.shopping-basket-p{
    position: fixed;
    right: 0;
    top: 300px !important;
    background-color: #171513;
    padding: 0.6%;
    opacity: 0.7;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #E7A436;
    border-right: 0;
  }
  
   .shopping-basket-p button{
    background: none;
    border: none;
  }
  
  .btn_shopping_basket-p img{
    height: 30px;
  }
  
  .shopping-basket-p span{
    position: absolute;
    font-family: 'Source Sans Pro' !important;
    color: #ffff;
    left: -8px;
    top: -6px;
    background-color: #D35034;
    width: 24px;
    height: 21px; 
    border-radius: 11px;
    text-align: center;
    z-index: 3;
  }
  .shopping-basket-p-open{
    position: fixed;
    right: 370px !important;
    top: 300px !important;
    background-color: #171513;
    padding: 0.6%;
    opacity: 0.7;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #E7A436;
    border-right: 0;
    display:none
  }
  
   .shopping-basket-p-open button{
    background: none;
    border: none;
  }
  
  .btn_shopping_basket-p-open img{
    height: 30px;
  }
  
  .shopping-basket-p-open span{
    position: absolute;
    font-family: 'Source Sans Pro' !important;
    color: #ffff;
    left: -8px;
    top: -6px;
    background-color: #D35034;
    width: 24px;
    height: 21px; 
    border-radius: 11px;
    text-align: center;
    z-index: 3;
  }



  /*CARRITO DE COMPRAS*/
.carrito-compras{
    background-color: #171513;
    opacity: 0.9;
    position: fixed;
    flex-direction: row;
    justify-content:space-between;
    box-shadow: -2px 3px 5px #000000CC;
    border-radius: 15px 0px;
    width: 440px;
    height: 590px;
    padding-left: 30px;
    padding-right: 90px;
    padding-top: 30px;
    left:37%;
    top:35%;
    border-radius: 15px 0px;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    display:none;
    
  }


  .tittle-carrito{
   font-size: 10px; 
   display:flex;
   background-color: #E7A436; 
   border-radius:20px;
   border-radius: 15px 0px;
   justify-content: center;
   
  }
  .tittle-carrito h1{
    margin-top:5px;
    margin-bottom:5px;
    
    align-content: center;
    color: white;
    
     
  }

 


.carrito-font{
background-image: url(../img/Untitled-1.png);
margin-top:10px;
height: 450px;

}
 .container-carrito{
display:flex;
flex-direction: row;  
}
 .container-carrito h1{
font-size: 15px; 
 }

 .container-carrito-one{
margin-top:10px;
 width: 10000px; 
display: flex;
flex-direction: row;
padding-right:20px;
padding-top: 10px;
padding-left: 20px;
justify-content: space-between !important;
}

.container-carrito-one h3{
margin-top:15px;
font-size: 11px; 
color:#6C200F;

}

.container-carrito-two{
display:flex;
flex-direction: row;
padding-right:20px;
padding-top: 5px;
padding-left: 20px;
justify-content: space-between;

}

.container-carrito-two p{
color:#6C200F;
font-size: 12px;
}
.container-carrito-two h3{
 
    font-size: 12px;
    }

.container-carrito-three{
display:flex;
flex-direction: row;
padding-right:20px;
padding-top: 5px;
padding-left: 20px;
justify-content: space-between;

}
.container-carrito-three p{
    color:#6C200F;
    font-size: 12px;
    }


.container-end-carrito{
    padding-right:20px;
    padding-left: 20px;
    border-bottom: dotted;


}

.container-carrito-sub{
 display:flex;
 flex-direction: row; 
 padding-right:20px;
 padding-left: 20px;
 margin-top:60px;
justify-content: space-between; 

}



.button-pedido{
    display:flex;
    justify-content: center;
}
.button-pedido button{
margin-top:20px;
background-color: #E7A436;
color:white;
border-color: #E7A436;
border-radius: 15px 0px;
width: 120px;
font-size: 15px;

}


/*mediaquery carrito*/

@media screen and (min-width: 300px) and (max-width: 589px){
    .carrito-compras{
        background-color: #171513;
        opacity: 0.9;
        position: fixed;
        flex-direction: row;
        justify-content:space-between;
        box-shadow: -2px 3px 5px #000000CC;
        border-radius: 15px 0px;
        width: 450px;
        height: 590px;
        padding-left: 30px;
        padding-right: 90px;
        padding-top: 30px;
        left:37%;
        top:35%;
        border-radius: 15px 0px;
        top: 50%;
        left: 90%;
        transform: translate(-50%, -50%);
        display:none;
        
      }
    
    
      .tittle-carrito{
       font-size: 10px; 
       display:flex;
       background-color: #E7A436; 
       border-radius:20px;
       border-radius: 15px 0px;
       justify-content: center;
       
      }
      .tittle-carrito h1{
        margin-top:5px;
        margin-bottom:5px;
        
        align-content: center;
        color: white;
        
         
      }
    
     
    
    
    .carrito-font{
    background-image: url(../img/Untitled-1.png);
    margin-top:10px;
    height: 450px;
    padding-right: 90px;
    
    }
     .container-carrito{
    display:flex;
    flex-direction: row;  
    }
     .container-carrito h1{
    font-size: 15px; 
     }
    
     .container-carrito-one{
    margin-top:10px;
     width: 10000px; 
    display: flex;
    flex-direction: row;
    padding-right:20px;
    padding-top: 10px;
    padding-left: 20px;
    justify-content: space-between !important;
    }
    
    .container-carrito-one h3{
    margin-top:15px;
    font-size: 11px; 
    color:#6C200F;
    
    }
    
    .container-carrito-two{
    display:flex;
    flex-direction: row;
    padding-right:20px;
    padding-top: 5px;
    padding-left: 20px;
    justify-content: space-between;
    
    }
    
    .container-carrito-two p{
    color:#6C200F;
    font-size: 12px;
    }
    .container-carrito-two h3{
     
        font-size: 12px;
        }
    
    .container-carrito-three{
    display:flex;
    flex-direction: row;
    padding-right:20px;
    padding-top: 5px;
    padding-left: 20px;
    justify-content: space-between;
    
    }
    .container-carrito-three p{
        color:#6C200F;
        font-size: 12px;
        }
    
    
    .container-end-carrito{
        padding-right:20px;
        padding-left: 20px;
        border-bottom: dotted;
    
    
    }
    
    .container-carrito-sub{
     display:flex;
     flex-direction: row; 
     padding-right:20px;
     padding-left: 20px;
     margin-top:60px;
    justify-content: space-between; 
    
    }
    
    
    
    .button-pedido{
        display:flex;
        justify-content: center;
    }
    .button-pedido button{
    margin-top:20px;
    background-color: #E7A436;
    color:white;
    border-color: #E7A436;
    border-radius: 15px 0px;
    width: 120px;
    font-size: 15px;
    
    }

    .shopping-basket-p-open{
        position: fixed;
        right: 260px !important;
        top: 300px !important;
        background-color: #171513;
        padding: 0.6%;
        opacity: 0.7;
        border-radius: 10px 0px 0px 10px;
        border: 1px solid #E7A436;
        border-right: 0;
        display:none
      }
      
       .shopping-basket-p-open button{
        background: none;
        border: none;
      }
      
      .btn_shopping_basket-p-open img{
        height: 30px;
      }
      
      .shopping-basket-p-open span{
        position: absolute;
        font-family: 'Source Sans Pro' !important;
        color: #ffff;
        left: -8px;
        top: -6px;
        background-color: #D35034;
        width: 24px;
        height: 21px; 
        border-radius: 11px;
        text-align: center;
        z-index: 3;
      }

}


@media screen and (min-width: 576px) and (max-width: 768px){

    .shopping-basket-p-open{
        position: fixed;
        right: 275px !important;
        top: 300px !important;
        background-color: #171513;
        padding: 0.6%;
        opacity: 0.7;
        border-radius: 10px 0px 0px 10px;
        border: 1px solid #E7A436;
        border-right: 0;
        display:none
      }


}

@media screen and (min-width: 768px) and (max-width: 992px){

    .shopping-basket-p-open{
        position: fixed;
        right: 310px !important;
        top: 300px !important;
        background-color: #171513;
        padding: 0.6%;
        opacity: 0.7;
        border-radius: 10px 0px 0px 10px;
        border: 1px solid #E7A436;
        border-right: 0;
        display:none
      }




}

@media screen and (min-width: 992px) and (max-width: 1300px){

    .shopping-basket-p-open{
        position: fixed;
        right: 330px !important;
        top: 300px !important;
        background-color: #171513;
        padding: 0.6%;
        opacity: 0.7;
        border-radius: 10px 0px 0px 10px;
        border: 1px solid #E7A436;
        border-right: 0;
        display:none
      }


}



/*login*/


.login{
position: fixed;
display:flex;

flex-direction: row;
justify-content:space-between;
width: 350px;
height: 330px;
position: absolute;
padding: 30px;
padding-top: 30px;
min-height: 250px;
display:none;
box-shadow: 5px #000000CC;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%)
}
.login-container{
background-color: white;

}

.options-login{
display: flex;
flex-direction: row;
background-color: #F4F4F4;
color:#777777;
}
.options-login h1{
margin-top:10px;
margin-bottom: 10px;
font-size: 17px; 
margin-left: 10px;
}
.inicio{
 color:#E7A436;  
 letter-spacing: 1px;

opacity: 1; 
}
.registro{
letter-spacing: 1px;   
}
.container-reg{
width: 100%;
background-color: #F4F4F4;
}
.container-ini{
width: 100%;
background-color:white;
}
.container-reg-two{
background-color:white;
width: 100%;

}
.domicilios-two-tittle-two a{
text-decoration: none;    
}

.container-ini-two a{
   text-decoration: none; 
}
.container-ini-two{
width: 100%;
background-color: #F4F4F4;
}


.social-group{
margin-top:10px;
display: flex;
align-items:center;
flex-direction:column;

}

.social-group h1{
    font-size:20px;
    margin:10px;
 
}
.social-group p{
    
    margin-left: 10px;
 color: #060604;
    font-size: 20px;
}
.social-group-two{
display: flex;
flex-direction: row;
margin-top:10px;
}

.social-group-img{
width: 70px;
margin-left:10px;
margin-right:10px;

}
.twitter{
    width: 70px;
    background-color: #1DA1F2;
    display: flex;
    justify-content: center;
  border-radius: 15px 0px;

}
.twitter img{
width: 30px;    
}


.gmail{
    margin-left: 10px;
    width: 70px;
    background-color: #c71610;
    display: flex;
    justify-content: center;
  border-radius: 15px 0px;
}
.gmail img{
width: 28px;    
}
.iniciar-sec{
 padding: 20px;
 display: flex;
 flex-direction: column;   

}

.iniciar-sec input{
background-color: #F7F7F7;
border-radius: 30px;
color:#A09999;
border: solid #F7F7F7;
margin-top: 10px;
}

.remember{
 padding-left: 20px;
 padding-right: 20px;
 display: flex;
 flex-direction: row;
 font-size: 14px;
 color:#060604;
}

.acepto{
padding-left: 20px;
padding-right: 20px;
display: flex;
flex-direction: row;
font-size: 14px;
color:#060604;
}
.acepto input{
padding-left: 20px;
padding-right: 20px;
display: flex;
flex-direction: row;
font-size: 10px;
color:#b9b936;
   }

.remember p{
margin-left:40px;
color:#818181;
}
.remember input{
color:#E7A436;
}

.button-ingresar{
    display:flex;
    justify-content: center;
}
.button-ingresar button{
margin-top:20px;
background-color: #E7A436;
color:white;
border-color: #E7A436;
border-radius: 15px 0px;
width: 120px;
height: 30px;
font-size: 15px;
margin-bottom: 20px;
}

.openreg{
text-decoration: none;
color:#818181;
}
.container-ini a{
  text-decoration: none;  
}




/*domicilios*/







.container-domicilios{
 display:flex;
 flex-direction:row;   
 background-image:url(../img/fondo-dom-4.jpg);
background-repeat: no-repeat;
margin: 0;
padding: 0;
background-size: cover;
background-position: center;

}

.container-domicilios-one{
display:Flex;
padding-left: 50px;  
width:33%;
padding-top: 130px;

}
.container-domicilios-two{
   
    display:Flex;
    flex-direction: column;
    padding-left: 120px;  
    width:33%;
    padding-top: 130px; 
    padding-right: 20px;
}

.container-facturacion{
    padding-left: 20px;
    display:Flex;
    flex-direction: column;
    border-left: dotted;
   height: 100%;
}

.container-domicilios-three{
    display:Flex;
    flex-direction: column;
    padding-left: 70px;  
    width:33%;
    padding-top: 130px; 
}
@media screen and (min-width: 300px) and (max-width: 780px){
    .container-domicilios{
        display:flex;
        flex-direction:column;   
       }
       
       .container-domicilios-one{
       display:Flex;
       padding-right: 50px;  
       width:100%;
       padding-top: 130px;
       
       }

       .container-domicilios-two{
        padding-right: 50px;  
           display:Flex;
           flex-direction: column;
           padding-left: 70px;  
           width:100%;
           padding-top: 130px; 

       }

       .domicilios-two-tittle-two p{
        margin-right: 12px;
       }
       
       .container-facturacion{
        padding-right: 50px;  
           padding-left: 20px;
           display:Flex;
           width:100%;
           flex-direction: column;
           border-left: dotted;
          height: 100%;
       }
       
       .container-domicilios-three{
           display:Flex;
           flex-direction: column;
           padding-left: 70px;  
           width:100%;
           padding-top: 130px; 
           padding-right: 50px; 
       }

       


}



.container-domicilios-one-tittle{
display:flex;
flex-direction: row; 

}

.container-domicilios-one-tittle h1{
color:#272020;
letter-spacing: 1px;
margin-left:10px;
font-size: 25px;

}

.container-domicilios-one-content-one{
margin-top:10px;
display: flex;
flex-direction: row;  
justify-content: space-between;
margin-bottom: 10px;
}

.container-domicilios-one-content-one p{
 color:#6C200F;
 margin-top:10px;
}


.container-domicilios-one{
   display: flex; 
   flex-direction: column;
}

.container-domicilios-one-content-two{

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete{
    color:#6C200F   
}

.container-domicilios-one-content-three{
display:flex;
flex-direction: row;
justify-content: space-between; 
}
.container-domicilios-one-content-three p{
    color:#6C200F    
}

.container-prices{
color:#6C200F   ;
 border-top: dotted;
margin-top: 30px;
display:flex;
flex-direction: column;   
}

.container-prices p{
margin-top:10px;
}
.prices-one{
margin-top: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
} 
.prices-two{
 display: flex;
flex-direction: row;
justify-content: space-between;
} 
.container-price-total{
border-top: dotted;
margin-top:10px;
display: flex;
 flex-direction: row;
justify-content: space-between;
 }
 .container-price-total p{
    margin-top:10px; 
     }  
.prices-one p{
color:#0B0B0B; 
} 
.prices-two p{
    color:#0B0B0B; 
} 

/*container2*/

.info-pedido{
margin-top:30px;
display:flex;

}
.info-pedido p{
    color:#6C200F   ;   
}

.domicilios-editar{
color:#6C200F   ;

}
.domicilios-two-tittle{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 20px;
}

.domicilios-two-tittle-two{
    margin-top:30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 20px;
}
.domicilios-two-info{
    display: flex;
    flex-direction: column;
  
}

.domicilios-two-info p{
margin-top:10px;
  
}

.container-envio{
margin-top: 50px;
display:flex;
flex-direction: row;   
justify-content:space-between;
margin-bottom: 50px;
}

.container-envio p{
color:#6C200F   ;
}

.radiu{
   border-radius: 39px; 
}

.button-back-menu button{
    width: 150px;
    height: 30px;
    background: #FFFFFF 0% 0% ;
    box-shadow: -1px 2px 3px #00000058;
    border: 1px solid #E7A436;
    border-radius: 21px;
    opacity: 1;
    justify-items: center;
}

.mas-antojos{
margin-top:30px;
display:flex;
flex-direction: column;
align-items: center;
margin-bottom: 30px;

}

.mas-antojos p{
font-size: 15px;
color:#6C200F   ;
}

.info-factu{
 display:flex;
 flex-direction: column;   
}

.datos-domicilio input{
margin-top:30px;
}

.medios-pago{
margin-top:10px;
 display:flex;
 flex-direction: row;
 justify-content: space-between;

}


.pse{
display: flex;
flex-direction: row;
margin-left:35px;
border: solid  1px #EB9900;
margin-right: 20px;
border-radius: 15px;
}

.pse img{
 width: 40%;   
}

.option-pse{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.option-pse select{
 border: solid white;   
}

.option-pagar{
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.option-pagar button{
background-color: #EB9900;
border:solid #EB9900;
color:white;
width: 70px;
border-radius: 15px;
}

.mercado-pago{
height: 60px;
border: solid  1px #EB9900;
border-radius:39px;
}
.mercado-pago img{
   margin-top:5px; 
   margin-left: 5px;
   margin-right: 5px;
   
}
.tarjeta{
width: 70px;
height: 60px;
border: solid  1px #EB9900;
border-radius:39px;
    }
 
.tarjeta img{
margin-top:15px; 
margin-left: 7px;
margin-right: 7px;
        
     }

     
.cobertura{
    position: fixed;
    display:flex;
    flex-direction: row;
    display: none;
    justify-content:space-between;
    position: absolute;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    left:37%;
    top:35%;
    box-shadow: 5px #000000CC;
    border-radius: 15px 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}     
.contaner-conbertura-one{
 display: flex;
 flex-direction: row;   
}
.tittle-cobertura{

display: flex;
justify-content: center;

}
.tittle-cobertura  h1{
    margin-top:30px;
  color: #E7A436;  
}

.cobertura-container{
border-radius:  24px;
background-image: url(../img/Fondo-cobertura.png);
}

.contaner-conbertura-one{
 display: flex;
 flex-direction: row;   
}

.cobertura-tittle-one{
    display: flex;
    flex-direction: column; 
    padding: 30px;  
   }
   
   .cobertura-tittle-one iframe{
       width: 450px;
       height: 250px;
       border-radius:  24px;
   }
@media screen and (min-width: 300px) and (max-width: 480px){

    .cobertura{
    width: 350px;
    height: 400px;
    }    
    .contaner-conbertura-one{
        display: flex;
        flex-direction: column;   
       }  
 
    .iframe-ubi{
        height: 200px;
        border-radius:  24px; 
    }
}
@media screen and (min-width: 480px) and (max-width: 790px){

    .cobertura{
    width: 500px;
    height: 400px;
    }    
    .contaner-conbertura-one{
        display: flex;
        flex-direction: column;   
       }  
 
       .cobertura-tittle-one iframe{
        width: 300px;
        height: 250px;
        border-radius:  24px;
    }
}


@media screen and (min-width: 300px) and (max-width: 580px){

    .medios-pago{
        margin-top:10px;
         display:flex;
         flex-direction: row;
         justify-content: space-between;
        
        }

    .pse{
display: flex;
flex-direction: column;
border: solid  1px #EB9900;
margin-right: 20px;
border-radius: 15px;
            }
.pse img{

    width: 100px;
}
            .mercado-pago{
            
                height: 60px;
                border: solid  1px #EB9900;
                border-radius:39px;
                }
                .mercado-pago img{
                    width: 30px;
                   margin-top:5px; 
 
                   
                }
                .tarjeta{
                width: 70px;
                height: 60px;
                border: solid  1px #EB9900;
                border-radius:39px;
                    }
                 
                .tarjeta img{
                width: 30px;
                margin-top:15px; 
             
              
                        
                     }
}
@media screen and (min-width: 580px) and (max-width: 1090x){
    .medios-pago{
        margin-top:10px;
         display:flex;
         flex-direction: column;
         justify-content: space-between;
         width: 300px;
        }
}
@media screen and (min-width: 900px) and (max-width: 1090px){
    .medios-pago{
        margin-top:10px;
         display:flex;
         flex-direction: row;
         justify-content: space-between;
        width: 300px;
        }
}
