<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Malsentada</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/style_menu.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">
    <nav>
      <div class="burger" id="burger">
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
      </div>
      <div class="perfil_person">
        <a href=""><img src="../img/open-person.svg" alt=""></a>
      </div>
      <ul class="nav-links">
        <li class="list_back nav-active"><a href="#menu" class="font-hn font-size-16 font-weight-400">Menú</a></li>
        <li class="list_back"> <a href="#" class="font-hn font-size-16 font-weight-400">Domicilios</a></li>
        <li class="list_back"><a href="#reservas" class="font-hn font-size-16 font-weight-400">Reservas</a></li>
      </ul>
      <div class="logo nav-none">
        <a href="../index.html"><img src="../img/Logo_Horizontal.svg" alt="">
      </div>
      <ul class="nav-links">
        <li class="list_back "><a href="./nosotros.html" class="font-hn font-size-16  font-weight-400">Nosotros</a></li>
        <li class="list_back"> <a href="#blog" class="font-hn font-size-16 font-weight-400">Blog</a></li>
        <li class="list_back"> <a href="#" class="font-hn  font-size-16 font-weight-400">Contáctenos</a></li>
        <div class="nav-redes-sociales">
          <a href=""><img src="../img/facebook_footer.svg" alt=""></a>
          <a href=""><img src="../img/instagram_footer.svg" alt=""></a>
          <a href=""><img src="../img/IconTripAdvisor.svg" alt=""></a>
        </div>
      </ul>

      <button class="btn_shopping_basket"><img src="./img/cesta_sb.svg" alt=""></button>
      <span class="font-sp">1</span>
    </nav>

    <div class="container_one">
      <div class="carousel">
        <div class="slider">
          <section>
            <img src="../img/banner_bebidas_one.png" height="1080px" alt="">
          </section>
          <section>
            <img src="../img/banner_bebidas_two.png" height="1080px" alt="">
          </section>
          <section>
            <img src="../img/banner_bebidas_three.png" height="1080px" alt="">
          </section>
        </div>
        <div class="controls_menu">
          <ul>
            <li class="selected"></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container_two_menu">
      <ul class="container_two_menu_option">
        <li class="nav_icon"><a href=""><img src="../img/IconoCubierto.svg" alt=""></a></li>
        <li><a href="comida.html" class="font-ys font-size-80 ">Comida</a></li>
        <li><a href="bebidas.html" class="font-ys font-size-80 text_shadow">Bebidas y Chupe</a></li>
        <li><a href="postres.html" class="font-ys font-size-80 ">Postres</a></li>
      </ul>
      <div class="container_two_menu_one">
        <ul class="container_two_menu_one_items">
          <li><a href="#noalcoholicas"
              class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">NO ALCOHÓLICAS</a></li>
          <li><a href="#" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">CAFÉS Y
              AROMÁTICAS</a>
          </li>
          <li><a href="#" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">APERITIVOS Y
              POUSSE CAFÉS</a>
          </li>
          <li><a href="#" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">CERVEZAS</a>
          </li>
          <li><a href="#" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">SANGRIA</a>
          </li>
          <li><a href="#"
              class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">COCTELERÍA</a></li>
          <li><a href="#" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">OTROS
              LICORES</a></li>
        </ul>

        <div class="container_two_menu_items">

          <div class="container_two_menu_items_table">

            <ul class="menu_table">
              <h1 class="font-brow-title" id="noalcoholicas">BEBIDAS NO ALCOHÓLICAS</h1>
              <li><strong class="font-brow-li ">AGUA CON O SIN GAS</strong><span class="font-brow-span">$6.000</span>
              </li>
              <li><strong class="font-brow-li ">AGUA S. PELLEGRINO</strong><span
                  class="font-brow-span  left-number">250ml</span><span class="font-brow-span  ">$ 12.000</span></li>
              <li><strong class="font-brow-li ">TE HATSU</strong><span class="font-brow-span ">$ 8.500</span></li>
              <li><strong class="font-brow-li ">RED BULL</strong><span class="font-brow-span ">$ 12.000</span></li>
              <li><strong class="font-brow-li ">H2O</strong><span class="font-brow-span ">$ 6.500</span></li>
              <li><strong class="font-brow-li ">GASEOSA</strong><span class="font-brow-span ">$ 6.000</span></li>
            </ul>

            <ul class="menu_table_jugos">
              <li class="header-jugos"><strong class="font-brow-li-subtitle ">JUGOS NATURALES</strong><span
                  class="font-brow-span ">$7.000</span></li>
                  <div class="container-jugos">
                    <div class="span-jugo-li"><p>FRESA</p></div>
                    <div class="span-jugo-li"><p>LULO</p></div>
                    <div class="span-jugo-li"><p>MARACUYÁ</p></div>
                    <div class="span-jugo-li"><p>MORA</p></div>
                    <div class="span-jugo-li"><p>MANDARINA</p></div>
                    <div class="span-jugo-li"><p>MANGO</p></div>
                    <div class="span-jugo-li"><p>NARANJA</p></div>
                    <div class="span-jugo-li"><p>UVA</p></div>
                    <div class="span-jugo-li"><p>PIÑA</p></div>
                    <div class="span-jugo-li"><p>LIMONADA NATURAL</p></div>


                  </div>
            </ul>

          </div>

          <div class="container_two_menu_items_table">
            <ul class="menu_table">
              <h1 class="font-brow-title " id="noalcoholicas">AGUAS TÓNICAS</h1>
              <li><strong class="font-brow-li">FEVER TREE</strong><span class="font-brow-span">$13.000</span></li>
              <li><strong class="font-brow-li">FENTIMAS</strong><span class="font-brow-span">$8.000</span></li>
              <li><strong class="font-brow-li">MIL976</strong><span class="font-brow-span">$ 8.000</span></li>
              <li><strong class="font-brow-li">JUNIPER</strong><span class="font-brow-span">$ 8.000</span></li>
              <li><strong class="font-brow-li">CANADA DRY</strong><span class="font-brow-span">$ 3.500</span></li>

            </ul>

            <ul class="menu_table_jugos">
              <li class="header-jugos"><strong class="font-brow-li-subtitle ">SODAS SABORIZADAS</strong><span
                  class="font-brow-span">$13.000</span></li>
                  <div class="container-jugos">
                    <div class="span-jugo-li"><p>SANDÍA</p></div>
                    <div class="span-jugo-li"><p>LYCHES</p></div>
                    <div class="span-jugo-li"><p>PEPINO</p></div>
                    <div class="span-jugo-li"><p>MARACUYÁ</p></div>
                    <div class="span-jugo-li"><p>PIÑA</p></div>
                    <div class="span-jugo-li"><p>FRUTOS ROJOS</p></div>
                  </div>

            </ul>

          </div>

          <div class="container_two_menu_items_table">

            <ul class="menu_table_jugos">
              <li class="header-jugos"><strong class="font-brow-li-subtitle">AGUAS
                  FRESCAS</strong><span class="font-brow-span">$8.000</span></li>
                  <div class="container-jugos">
                    <div class="span-jugo-li"><p>HORCHATA</p></div>
                    <div class="span-jugo-li"><p>TAMARINDO</p></div>
                    <div class="span-jugo-li"><p>JAMAICA</p></div>
                  
                  </div>
            </ul>

            <ul class="menu_table_jugos">
              <li class="header-jugos"><strong class="font-brow-li-subtitle">LIMONADAS Y
                  MEZCLAS</strong><span class="font-brow-span">8.500</span></li>
                  <div class="container-jugos">
                    <div class="span-jugo-li"><p>COCO</p></div>
                    <div class="span-jugo-li"><p>MANGOS</p></div>
                    <div class="span-jugo-li"><p>CEREZA</p></div>
                    <div class="span-jugo-li"><p>LYCHES</p></div>
                    <div class="span-jugo-li"><p>LIMONADA HIERBABUENA</p></div>
                    <div class="span-jugo-li"><p>PIÑA-COCO</p></div>
                    <div class="span-jugo-li"><p>FRUTOS ROJOS</p></div>
                    <div class="span-jugo-li"><p>FRUTOS AMARILLOS</p></div>
                  </div>
                 

            </ul>

          </div>

          <h1 class="font-orange-title">CAFÉS Y AROMÁTICAS</h1>
          <div class="container_two_menu_items_table">
            <ul class="menu_table">
              <li><strong class="font-orange-li">AMERICANO</strong><span
                  class="font-orange-span">$3.500</span></li>

              <li><strong class="font-orange-li">CAPUCCINO</strong><span
                  class="font-orange-span">$7.000</span></li>

              <li><strong class="font-orange-li">MOKACCINO</strong><span
                  class="font-orange-span">$7.500</span></li>

              <li><strong class="font-orange-li">CAFÉ DE LICOR</strong><span
                  class="font-orange-span">$12.000</span></li>
              <div class="font-black-description">Combinación Colombo-Mexicana de guayaba, cajeta y quesito.</div>
            </ul>

            <ul class="menu_table">
              <li><strong class="font-orange-li">ESPRESO</strong><span
                  class="font-orange-span">$4.000</span></li>


              <li><strong class="font-orange-li">ESPRESO DOBLE</strong><span
                  class="font-orange-span">$7.500</span></li>


              <li><strong class="font-orange-li">AROMÁTICA DE HIERBAS Y
                  FRUTAS</strong><span class="font-orange-span">$5.500</span></li>
              <li><strong class="font-orange-li">CANELAZO</strong><span
                  class="font-orange-span">$35.000</span></li>
              <div class="font-black-description">Aguardiente, clavos y canela.</div>


            </ul>

          </div>
          <h1 class="font-pink-menu font-dw font-size-48 font-weight-400 " id="tacos">APERITIVOS Y POUSSE CAFÉS</h1>

          <div class="container_two_menu_items_table">
            <ul class="menu_table aperitivos">
              <li><strong
                  class="font-pink-li text-table-bebidas">UNIDADES</strong><span
                  class="font-pink-span">BOTELLAS</span><span
                  class="font-pink-span left-number-three">TRAGO</span><span
                  class="font-pink-span left-number-two">MEDIA</span></li>


              <li><strong class="font-pink-li">AMARETTO LUXARDO</strong><span
                  class="font-pink-span">$ 220.000</span><span
                  class="font-pink-span left-number-three">$ 19.000</span><span
                  class="font-pink-span left-number-two"></span></li>
              <li><strong class="font-pink-li">BAILEYS</strong><span
                  class="font-pink-span ">$ 120.000</span><span
                  class="font-pink-span left-number-three">$ 6.000</span><span
                  class="font-pink-span left-number-two">$65.000</span></li>
              <li><strong class="font-pink-li">CAMPARI</strong><span
                  class="font-pink-span">$ 160.000</span><span
                  class="font-pink-span left-number-three">$ 13.000</span><span
                  class="font-pink-spanleft-number-two"></span></li>
              <li><strong class="font-pink-li">COINTREAU</strong><span
                  class="font-pink-span">$ 170.000</span><span
                  class="font-pink-span left-number-three">$ 13.000</span><span
                  class="font-pink-span left-number-two"></span></li>
              <li><strong class="font-pink-li">DUBONET</strong><span
                  class="font-pink-span">$ 130.000</span><span
                  class="font-pink-span left-number-three">$ 10.000</span><span
                  class="font-pink-span left-number-two">$ 65.000</span></li>
              <li><strong class="font-pink-li">FRANGELICO</strong><span
                  class="font-pink-span">$ 165.000</span><span
                  class="font-pink-span left-number-three">$ 14.000</span><span
                  class="font-pink-span left-number-two"></span></li>
              <li><strong class="font-pink-li">JERÉZ TÍO PEPE</strong><span
                  class="font-pink-span">$ 145.000</span><span
                  class="font-pink-span left-number-three">$ 12.000</span><span
                  class="font-pink-span left-number-two"></span></li>
              <li><strong class="font-pink-li">JAGERMIFTER</strong><span
                  class="font-pink-span">$ 145.000</span><span
                  class="font-pink-span left-number-three">$ 12.000</span><span
                  class="font-pink-span left-number-two"></span></li>
              <li><strong class="font-pink-li">SAMBUCA</strong><span
                  class="font-pink-span">$ 210.000</span><span
                  class="font-pink-span left-number-three">$ 18.000</span><span
                  class="font-pink-span left-number-two"></span></li>
              <li><strong class="font-pink-li">LIMONCHELO</strong><span
                  class="font-pink-span">$ 125.000</span><span
                  class="font-pink-span left-number-three">$ 10.000</span><span
                  class="font-pink-span left-number-two"></span></li>
              <li><strong class="font-pink-li">VERMOUTH YSAGUIRRE
                  ROJOS</strong><span class="font-pink-span">$ 130.000</span><span
                  class="font-pink-span left-number-three">$ 11.000</span><span
                  class="font-pink-span left-number-two"></span></li>

            </ul>
          </div>

          <h1 class="font-yellow-menu font-dw font-size-48 font-weight-400 ">CERVEZAS</h1>
          <div class="container_two_menu_items_table">
            <ul class="menu_table">

              <li><strong class="font-yellow-li">ÁGUILA CERO</strong><span
                  class="font-yellow-span">$7.000</span></li>
              <li><strong class="font-yellow-li">ÁGUILA LIGHT</strong><span
                  class="font-yellow-span">$7.000</span></li>
              <li><strong class="font-yellow-li">ÁGUILA
                  TRADICIONAL</strong><span class="font-yellow-span">$7.000</span>
              </li>

              <li><strong class="font-yellow-li">BOGOTÁ BEER
                  COMPANY</strong><span class="font-yellow-span">$9.000</span>
              </li>
              <li><strong class="font-yellow-li">BUDWEISER</strong><span
                  class="font-yellow-span">$9.500</span></li>
              <li><strong class="font-yellow-li">CLUB COLOMBIA</strong><span
                  class="font-yellow-span">$7.000</span></li>
              <li><strong class="font-yellow-li">CORONA</strong><span
                  class="font-yellow-span">$9.500</span></li>
              <li><strong class="font-yellow-li">TRES CORDILLERAS</strong><span
                  class="font-yellow-span">$8.500</span></li>
              <li><strong class="font-yellow-li">PILSEN</strong><span
                  class="font-yellow-span">$7.000</span></li>
              <li><strong class="font-yellow-li">SOL</strong><span
                  class="font-yellow-span">$7.000</span></li>


            </ul>

            <ul class="menu_table">

              <li><strong class="font-yellow-li">BITBURGER</strong><span
                  class="font-yellow-span">$7.000</span></li>
              <li><strong class="font-yellow-li">BITBURGER 0.0</strong><span
                  class="font-yellow-span">$7.000</span></li>
              <li><strong class="font-yellow-li">DELIRIUM TREMENS</strong><span
                  class="font-yellow-span">$7.000</span></li>

              <li><strong class="font-yellow-li">ERDINGER RUBIA</strong><span
                  class="font-yellow-span">$9.000</span></li>
              <li><strong class="font-yellow-li">ERDINGER SIN
                  ALCOHOL</strong><span class="font-yellow-span">$7.000</span>
              </li>
              <li><strong class="font-yellow-li">PAULANER RUBIA
                  500ML</strong><span class="font-yellow-span">$9.500</span></li>
              <li><strong class="font-yellow-li">PAULANER SALVATOR</strong><span
                  class="font-yellow-span">$8.500</span></li>
              <li><strong class="font-yellow-li">KORTINZER</strong><span
                  class="font-yellow-span">$7.000</span></li>
              <li><strong class="font-yellow-li">STELLA ARTOIS</strong><span
                  class="font-yellow-span">$7.000</span></li>
              <li><strong class="font-yellow-li">HEINEKER</strong><span
                  class="font-yellow-span">$9.500</span></li>


            </ul>


          </div>


          <h1 class="font-pink-title" id="tacos">SANGRÍA</h1>

          <div class="container_two_menu_items_table">
            <ul class="menu_table">
              <li><strong class="font-pink-li text-table">UNIDADES</strong><span
                  class="font-pink-span">JARRA</span><span
                  class="font-pink-span left-number">COPA</span></li>

              <li><strong class="font-pink-li">SANGRÍA DE KIWI </strong><span
                  class="font-pink-span">$75.000</span><span
                  class="font-pink-span left-number">$20.000</span></li>
              <div class="font-black-description">Vino blanco, jarabe de kiwi, almíbar y aguardiente.</div>


              <li><strong class="font-pink-li">SANGRÍA TINTA </strong><span
                  class="font-pink-span">$85.000</span><span
                  class="font-pink-span left-number">$20.000</span></li>
              <div class="font-black-description">Mezcal, tequila, vino tinto, jugo de naranja, almíbar.</div>

            </ul>

            <ul class="menu_table">
              <li><strong class="font-pink-menu font-size-18  font-weight-400 font-sp text-table">UNIDADES</strong><span
                  class="font-pink-span">JARRA</span><span
                  class="font-pink-span left-number">COPA</span></li>

              <li><strong class="font-pink-li">SANGRÍA ROSADA </strong><span
                  class="font-pink-span">$85.000</span><span
                  class="font-pink-span left-number">$20.000</span></li>
              <div class="font-black-description">Tequila oro, brandy de jerez, vino rosado, almíbar de maracuyá,
                limón.</div>



            </ul>
          </div>




          <div class="container_two_menu_items_table">
            <ul class="menu_table">

              <h1 class="font-orange-title ">COCTELERÍA NACIONAL</h1>
              <li><strong class="font-orange-li">PALOMA</strong><span
                  class="font-orange-span">$25.000</span></li>
              <div class="font-black-description">Tequila blanco, jugo toronja, limón, quatro.</div>

              <li><strong class="font-orange-li">COSMOPOLITAN</strong><span
                  class="font-orange-span">$25.000</span></li>
              <div class="font-black-description">Vodka, triplesec, limón, jugo arándano.</div>
              <li><strong class="font-orange-li">CUCARACHO</strong><span
                  class="font-orange-span">$15.000</span></li>
              <div class="font-black-description">Tequila reposado, licor de café.</div>

              <li><strong class="font-orange-li">NEW YORK SOUR</strong><span
                  class="font-orange-span">$23.000</span></li>
              <div class="font-black-description">Bourbon, almíbar, limón, vino tinto</div>

              <li><strong class="font-orange-li">RUSO BLANCO</strong><span
                  class="font-orange-span">$22.000</span></li>
              <div class="font-black-description">Vodka, licor de café, leche evaporada.</div>


              <li><strong class="font-orange-li">TEQUILA SUNRISE</strong><span
                  class="font-orange-span">$15.000</span></li>
              <div class="font-black-description">Tequila reposado, triplesec, jugo naranja y granadina.</div>


              <li><strong class="font-orange-li">MOJITO
                  TRADICIONAL</strong><span
                  class="font-orange-span">$19.000</span></li>
              <div class="font-black-description">Ron, hierbabuena, azúcar, limón y soda..</div>



              <li><strong class="font-orange-li"> CAIPIRINHA </strong><span
                  class="font-orange-span">$20.000</span></li>
              <div class="font-black-description">Cachaza, azúcar y limón.</div>

              <li><strong class="font-orange-li"> VINO CALIENTE </strong><span
                  class="font-orange-span">$25.000</span></li>
              <div class="font-black-description">Vino tinto, jugo naranja, almíbar, ron.</div>

              <li><strong class="font-orange-li"> NEGRONI </strong><span
                  class="font-orange-span">$28.000</span></li>
              <div class="font-black-description">Campari, ginebra y vermut rojo.</div>

              <li><strong class="font-orange-li"> MARTINI TRADICIONAL
                </strong><span class="font-orange-span">$27.000</span></li>
              <div class="font-black-description">Ginebra, un dash de vermut dry.</div>

              <li><strong class="font-orange-li"> MARTINI LYCHES </strong><span
                  class="font-orange-span">$32.000</span></li>
              <div class="font-black-description">Vodka, licor soho, lyches.</div>


              <li><strong class="font-orange-li"> PISCO SOUR </strong><span
                  class="font-orange-span">$23.000</span></li>
              <div class="font-black-description">Pisco, limón, almíbar de azúcar, clara de huevo.</div>

              <li><strong class="font-orange-li"> BLODY MAR</strong><span
                  class="font-orange-span">$18.000</span></li>
              <div class="font-black-description">Vodka, sal, tabasco, zumo limón, Jugo de tomate.</div>


              <li><strong class="font-orange-li">PADRINO</strong><span
                  class="font-orange-span">$22.000</span></li>
              <div class="font-black-description">Whisky, amaretto, cerezas.</div>


              <li><strong class="font-orange-li">APEROL SPIRIT</strong><span
                  class="font-orange-span">$22.000</span></li>
              <div class="font-black-description">Espumante, aperol, soda.</div>

              <li><strong class="font-orange-li">DAIQUIRIT</strong><span
                  class="font-orange-span">$20.000</span></li>
              <div class="font-black-description">Zacapa ámbar, almíbar, limón.</div>


              <li><strong class="font-orange-li">MANHATAN</strong><span
                  class="font-orange-span">$19.000</span></li>
              <div class="font-black-description">Bourbon, vermut rojo.</div>


              <li><strong class="font-orange-li">PIÑA COLADA</strong><span
                  class="font-orange-span">$18.000</span></li>
              <div class="font-black-description">Ron, helado de vainilla, licor de coco, piña.</div>


              <li><strong class="font-orange-li">MARGARITA BLOOD</strong><span
                  class="font-orange-span">$29.000</span></li>
              <div class="font-black-description">Mezcal, Cointreau, jugo toronja y jugo limón.</div>

              <li><strong class="font-orange-li"> LULO MARGARITA</strong><span
                  class="font-orange-span">$29.000</span></li>
              <div class="font-black-description">Tequila blanco, limón, chile, almíbar de lulo.</div>

              <li><strong class="font-orange-li"> MARGARITA
                  TAMARINDO</strong><span class="font-orange-span">$29.000</span>
              </li>
              <div class="font-black-description">Tequila oro, limón, almíbar de tamarindo, triplesec.</div>

            </ul>
            <ul class="menu_table">

              <h1 class="font-orange-title">COCTELERÍA DE AUTOR </h1>
              <li><strong class="font-orange-li">PANCHO VILLA </strong><span
                  class="font-orange-span">$25.000</span></li>
              <div class="font-black-description">Tequila blanco, triplesec, jugo de arándanos y almíbar de maracuyá.
              </div>

              <li><strong class="font-orange-li">FRIDA</strong><span
                  class="font-orange-span">$22.000</span></li>
              <div class="font-black-description">Tequila reposado, jugo mandarina, limón, almíbar natural y un dash
                de campari.</div>
              <li><strong class="font-orange-li">TEPOROCHO</strong><span
                  class="font-orange-span">$22.000</span></li>
              <div class="font-black-description">Tequila reposado, jugo naranja, almíbar de flor de Jamaica,
                triplesec, limón.</div>

              <li><strong class="font-orange-li">JALISCO</strong><span
                  class="font-orange-span">$25.000</span></li>
              <div class="font-black-description">Mezcal, miel de agave, limón, jengibre.</div>

              <li><strong class="font-orange-li">CAMPECHE</strong><span
                  class="font-orange-span">$20.000</span></li>
              <div class="font-black-description">Aguardiente, jarabe de kiwi, almíbar, limón.</div>


              <li><strong class="font-orange-li">POBLANA</strong><span
                  class="font-orange-span">$22.000</span></li>
              <div class="font-black-description">Tequila blanco, sumo de lulo, almíbar de piña, tónica.</div>


              <li><strong class="font-orange-li">MEZCALINI</strong><span
                  class="font-orange-span">$24.000</span></li>
              <div class="font-black-description">Mezcal, almíbar maracuyá, limón y miel de agave.</div>



              <li><strong class="font-orange-li">CHINCUAL</strong><span
                  class="font-orange-span">$27.000</span></li>
              <div class="font-black-description">Ginebra, jugo de limón, almíbar, albahaca.</div>

              <li><strong class="font-orange-li">ARRECHOLADO</strong><span
                  class="font-orange-span">$25.000</span></li>
              <div class="font-black-description">Vodka, almibar de piña, limón, chile.</div>

              <li><strong class="font-orange-li"> MEXICO LINDO</strong><span
                  class="font-orange-span">$26.000</span></li>
              <div class="font-black-description">Tequila, triplesec, toronja, miel de agave, gotas angostura.</div>

              <li><strong class="font-orange-li">CHINGÓN </strong><span
                  class="font-orange-span">$24.000</span></li>
              <div class="font-black-description">Vodka, licor de eldelflower, limón, kiwi, ginger beer.</div>


              <li><strong class="font-orange-li">NEGRONI MEXICANO </strong><span
                  class="font-orange-span">$29.000</span></li>
              <div class="font-black-description">Mezcal, vermouth rojo, campari y piña.</div>


              <li><strong class="font-orange-li">ROSA DE GUADALUPE</strong><span
                  class="font-orange-span">$24.000</span></li>
              <div class="font-black-description">Ginebra, uvas, liches, salvia, tonica.</div>

              <li><strong class="font-orange-li">CHAVELA</strong><span
                  class="font-orange-span">$29.000</span></li>
              <div class="font-black-description">Tequila blanco, mezcal, limón, almíbar de maracuyá, flor de
                Jamaica.</div>
            </ul>

          </div>

          <h1 class="font-brow-title " id="licores">LICORES</h1>

          <h1 class="font-brow-title">WHISKY SCOTCH</h1>
          <div class="container_two_menu_items_table">
            <ul class="menu_table aperitivos">
              <li><strong class="font-brow-li text-table-bebidas">UNIDADES</strong><span
                  class="font-brow-span">BOTELLAS</span><span
                  class="font-brow-span left-number-three">TRAGO</span><span
                  class="font-brow-span left-number-two">MEDIA</span></li>


              <li><strong class="font-brow-li ">JHONNIE WALKER BLUE LABEL</strong><span
                  class="font-brow-span">$ 1.200.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two"></span></li>
              <li><strong class="font-brow-li ">JHONNIE WALKER DOUBLE BLACK</strong><span
                  class="font-brow-span">$ 350.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two"></span></li>
              <li><strong class="font-brow-li ">JHONNIE WALKER BLACK LABEL</strong><span
                  class="font-brow-span">$ 230.000</span><span
                  class="font-brow-span left-number-three">$ 130.000</span><span
                  class="font-brow-span left-number-two">$ 20.000</span></li>
              <li><strong class="font-brow-li ">BUCHANAN’S 18 AÑOS</strong><span
                  class="font-brow-span">N/A</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$ 30.000</span></li>
              <li><strong class="font-brow-li ">BUCHANAN’S MASTER</strong><span
                  class="font-brow-span">N/A</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$ 20.000</span></li>
              <li><strong class="font-brow-li ">BUCHANAN’S 12 AÑOS</strong><span
                  class="font-brow-span">N/A</span><span
                  class="font-brow-span left-number-three">$ 140.000</span><span
                  class="font-brow-span left-number-two">$ 20.000</span></li>
              <li><strong class="font-brow-li ">OLD PARR 12 AÑOS</strong><span
                  class="font-brow-span">$ 250.000</span><span
                  class="font-brow-span left-number-three">$ 140.000</span><span
                  class="font-brow-span left-number-two">$ 20.000</span></li>
              <li><strong class="font-brow-li ">CHIVAS 12 AÑOS</strong><span
                  class="font-brow-span">$ 250.000</span><span
                  class="font-brow-span left-number-three">$ 140.000</span><span
                  class="font-brow-span left-number-two">$ 20.000</span></li>
              <li><strong class="font-brow-li ">CHIVAS 18 AÑOS</strong><span
                  class="font-brow-span">$ 440.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$ 34.000</span></li>
              <li><strong class="font-brow-li ">JAMESON 12 AÑOS</strong><span
                  class="font-brow-span">N/A</span><span
                  class="font-brow-span left-number-three">$ 185.000</span><span
                  class="font-brow-span left-number-two">$16.000</span></li>

            </ul>
          </div>

          <h1 class="font-brow-menu font-dw font-size-48 font-weight-400 ">BOURBON</h1>
          <div class="container_two_menu_items_table">
            <ul class="menu_table aperitivos">
              <li><strong class="font-brow-li text-table-bebidas">UNIDADES</strong><span
                  class="font-brow-span">BOTELLAS</span><span
                  class="font-brow-span left-number-three">TRAGO</span><span
                  class="font-brow-span left-number-two">MEDIA</span></li>


              <li><strong class="font-brow-li ">BULLEIT RYE</strong><span
                  class="font-brow-span">$ 280.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$ 22.000</span></li>
              <li><strong class="font-brow-li ">JACK DANIEL</strong><span
                  class="font-brow-span">$ 210.000</span><span
                  class="font-brow-span left-number-three">$ 120.000</span><span
                  class="font-brow-span left-number-two">$ 18.000</span></li>
              <li><strong class="font-brow-li ">JACK DANIEL GENTLEMAN</strong><span
                  class="font-brow-span">$ 300.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$ 22.000</span></li>
              <li><strong class="font-brow-li ">JACK DANIEL HONEY</strong><span
                  class="font-brow-span">$ 230.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$ 17.000</span></li>
              <li><strong class="font-brow-li ">JACK DANIEL SINGLE BARREL</strong><span
                  class="font-brow-span">$ 380.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two"></span></li>
              <li><strong class="font-brow-li ">TURRAMORE DEW</strong><span
                  class="font-brow-span">$ 200.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$ 17.000</span></li>

            </ul>
          </div>

          <h1 class="font-brow-title">SINGLE MALT</h1>
          <div class="container_two_menu_items_table">
            <ul class="menu_table aperitivos">
              <li><strong class="font-brow-li text-table-bebidas">UNIDADES</strong><span
                  class="font-brow-span">BOTELLAS</span><span
                  class="font-brow-span left-number-three">TRAGO</span><span
                  class="font-brow-span left-number-two">MEDIA</span></li>


              <li><strong class="font-brow-li ">GLENFIDICH 12 AÑOS</strong><span
                  class="font-brow-span">$ 260.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$ 20.000</span></li>
              <li><strong class="font-brow-li ">GLENFIDICH 15 AÑOS</strong><span
                  class="font-brow-span">$ 380.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$ 28.000</span></li>
              <li><strong class="font-brow-li ">GLENFIDICH 18 AÑOS</strong><span
                  class="font-brow-span">$ 480.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$ 35.000</span></li>
              <li><strong class="font-brow-li ">MACALLAN 12 AÑOS</strong><span
                  class="font-brow-span">$ 350.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$29.000</span></li>
              <li><strong class="font-brow-li ">THE GLENLIVET 12 AÑOS</strong><span
                  class="font-brow-span">$ 270.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$22.000</span></li>
              <li><strong class="font-brow-li ">THE GLENLIVET 15 AÑOS</strong><span
                  class="font-brow-span">$ 320.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two">$ 28.000</span></li>
              <li><strong class="font-brow-li ">THE GLENLIVET 18 AÑOS</strong><span
                  class="font-brow-span">$ 500.000</span><span
                  class="font-brow-span left-number-three"></span><span
                  class="font-brow-span left-number-two"></span></li>
              <br>

              <li><strong class="font-brow-li ">OLD PARR 12 AÑOS</strong><span
                  class="font-brow-span">$ 250.000</span><span
                  class="font-brow-span left-number-three">$ 140.000</span><span
                  class="font-brow-span left-number-two">$ 20.000</span></li>
              <li><strong class="font-brow-li ">CHIVAS 12 AÑOS</strong><span
                  class="font-brow-span">$ 250.000</span><span
                  class="font-brow-span left-number-three">$ 140.000</span><span
                  class="font-brow-span left-number-two">$ 20.000</span></li>
              <li><strong class="font-brow-li ">CHIVAS 18 AÑOS</strong><span
                  class="font-brow-span">$ 440.000</span><span
                  class="font-brow-span left-number-three">$ 140.000</span><span
                  class="font-brow-span left-number-two">$ 34.000</span></li>
              <li><strong class="font-brow-li ">JAMESON 12 AÑOS</strong><span
                  class="font-brow-span">$ 185.000</span><span
                  class="font-brow-span left-number-three">$ 140.000</span><span
                  class="font-brow-span left-number-two">$ 16.000</span></li>
              <li><strong class="font-brow-li ">BUCHANAN’S MASTER</strong><span
                  class="font-brow-span">N/A</span><span
                  class="font-brow-span left-number-three">$ 130.000</span><span
                  class="font-brow-span left-number-two">$20.000</span></li>
              <li><strong class="font-brow-li ">BUCHANAN’S 12 AÑOS</strong>  
                    <span class="font-brow-span">N/A</span>
                    <span class="font-brow-span left-number-three">$140.000</span>
                    <span class="font-brow-span left-number-two">$20.000</span></li>


            </ul>
          </div>

        </div>

      </div>

    </div>

    <div class="container_two">

      <div class="container_two_one" id="menu">
        <div class="container_two_tittle">
          <h1 class="font-sp font-size-30 font-weight-bold" >Menú</h1>
          <div class="container_two_subtittle">
            <div class="rectangulo"></div>
            <h2 class="font-sp font-size-30 font-weight-600 ">Un auténtico carnaval de sabores</h2>
            <div class="rectangulo"></div>
          </div>
        </div>

        <div class="card-group" id="cards">
          <div class="card card_one">
            <img src="../img/Domicilios.png" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="card-body-text">
                <h5 class="card-title font-sp font-size-18 font-weight-600">En casa</h5>
                <p class="card-text font-sp font-size-18 font-weight-200">Menú para domicilios</p>
              </div>
              <a href="../comida.html"><i class="material-icons orange font-size-38">navigate_next</i></a>
            </div>
          </div>
          <div class="card">
            <img src="../img/Comida.png" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="card-body-text">
                <h5 class="card-title font-sp font-size-18 font-weight-600">Comidas</h5>
                <p class="card-text font-sp font-size-18 font-weight-200">Entradas, tacos, fuertes.</p>
              </div>
              <a href="./comida.html"><i class="material-icons orange font-size-38">navigate_next</i></a>
            </div>
          </div>
          <div class="card">
            <img src="../img/Bebidas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="card-body-text">
                <h5 class="card-title font-sp font-size-18 font-weight-600">Bebidas y chupe</h5>
                <p class="card-text font-sp font-size-18 font-weight-200">Jugos, aguas frescas, licores</p>
              </div>
              <a href=""><i class="material-icons orange">navigate_next</i></a>
            </div>
          </div>
          <div class="card">
            <img src="../img/Postre.png" class="card-img-top" alt="">
            <div class="card-body">
              <div class="card-body-text">
                <h5 class="card-title font-sp font-size-18 font-weight-600">Postres</h5>
                <p class="card-text font-sp font-size-18 font-weight-200">Dulce colombo-mexicano</p>
              </div>
              <a href="postres.html"><i class="material-icons orange">navigate_next</i></a>
            </div>
          </div>
        </div>

        <button id="btnShow"><img src="../img/vermas_yellow.svg" alt=""></button>
      </div>

      <div class="container_two_three" id="reservas">
        <div class="container_two_tittle">
          <h1 class="font-sp font-size-30 font-weight-bold ">Reserva</h1>
          <h2 class="font-sp font-size-30 font-weight-600 ">¡Ándale, vamos!</h2>
        </div>
        <div class="card-group-three">
          <div class="card-group-three-item">
            <div class="card-group-three-item-one">
              <h1 class="font-ys font-weight-400 font-justify-center font-white font-size-100">¡Órale <br> Pues!</h1>
              <div class="cestadeaji cestadeaji_menu">
                <img src="../img/cestadeaji.png" alt="">
              </div>
              <div class="img_aji img_aji_menu">
                <img src="../img/aji2.png" alt="">
              </div>
            </div>
            <div class="card-group-three-item-two">
              <h2 class="font-brow-menu font-size-24 font-sp ">Haz tu reserva</h2>
              <div class="card-group-three-item-two-one">
                <div class="card-group-three-item-two-one-items select-restaurant ">
                  <img src="../img/address.svg" alt="">
                  <select name="" id="" ><option value="Selecciona el restaurante">Selecciona el restaurante</option></select>
                </div>
                <div class="card-group-three-item-two-one-items">
                  <img src="../img/person.svg" alt="">
                  <button class="btn-left" id="decrease" onclick="decreaseValue()">-</button>
                  <input class="card-group-three-item-two-one-items-number" type="number" id="number"  placeholder="0" min="0">
                  <button class="btn-right" id="increase" onclick="increaseValue()" >+</button>
                </div>

                <div class="card-group-three-item-two-one-items">
                  <img src="../img/XMLID_806_.svg" alt="">
                  <input type="time" placeholder="Hora" required>
                </div>

                <div class="card-group-three-item-two-one-items">
                  <img src="../img/dinning-table.svg" alt="">
                  <button class="btn-left" onclick="decreaseValueTwo()">-</button>
                  <input type="number" class="card-group-three-item-two-one-items-number" id="numbertwo" placeholder="0" min="0" >
                  <button class="btn-right" onclick="increaseValueTwo()">+</button>
                </div>
             

                <div class="card-group-three-item-two-one-items">
                  <img src="../img/appointment.svg" alt="">
                  <input type="date" placeholder="00/00/0000" required >
                </div>


                <div class="card-group-three-item-two-one-items">
                  <img src="../img/contact.svg" alt="">
                  <input type="number" placeholder="Teléfono">
                </div>
    
              </div>
              <button class="btn-reserva font-hn font-size-18 font-weight-400 font-justify-center font-white ">Reserva</button>

              <div class="img_perejil img_perejil_menu">
                <img src="../img/perejil2.png" alt="">
              </div>
            </div>

            </div>
          </div>

      </div>
    </div>

      <footer>
        <div class="footer_one">
          <div class="footer_one_img">
            <img src="../img/logo_footer.svg" alt="">
          </div>
    
          <div class="footer_one_adress">
            <div class="footer_one_adress_item">
              <p class="font-size-14 font-weight-600 font-sp">El poblado</p>
              <p class="font-size-14 font-weight-400 font-sp">Carrera 36#10b-27</p>
              <p class="font-size-14 font-weight-400 font-sp">Medellín</p>
            </div>
    
            <div class="footer_one_adress_item">
              <p class="font-size-14 font-weight-600 font-sp">Túnel de Oriente</p>
              <p class="font-size-14 font-weight-400 font-sp">Sajonia</p>
              <p class="font-size-14 font-weight-400 font-sp">Rionegro</p>
            </div>
    
          </div>
    
          <div class="footer_one_email">
            <div class="footer_one_email_item">
              <p class="font-size-14 font-weight-400 font-sp">info@lamalsentada.com</p>
              <p class="font-size-14 font-weight-400 font-sp">569 043 0236</p>
            </div>
          </div>
    
          <div class="footer_one_calendar">
            <p class="font-size-14 font-weight-600 font-sp">Horarios domicilios</p>
            <table>
              <tr>
                <td class="font-size-14 font-weight-400 font-sp">Lunes a Jueves</td>
                <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
              </tr>
              <tr>
                <td class="font-size-14 font-weight-400 font-sp">Viernes a Sabádo</td>
                <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
              </tr>
              <tr>
                <td class="font-size-14 font-weight-400 font-sp">Domingo y Festivos</td>
                <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
              </tr>
            </table>
          </div>
          <div class="footer_one_reds">
            <div class="footer_one_reds_icon">
              <a href=""><img src="../img/facebook_footer.svg" alt=""></a>
              <a href=""><img src="../img/instagram_footer.svg" alt=""></a>
              <a href=""><img src="../img/IconTripAdvisor.svg" alt=""></a>
            </div>
    
          </div>
        </div>
        <div class="footer_two">
          <img src="../img/footer_img.svg" alt="">
    
        </div>
      </footer>
  </div>
    <script src="../js/index.js"></script>
</body>

</html>