<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Malsentada</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./style_menu.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">
    <nav>
      <div class="burger">
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
      </div>
      <div class="perfil_person">
        <a href=""><img src="./img/open-person.svg" alt=""></a>
      </div>
      <ul class="nav-links">
        <li class="list_back nav-active"><a href="" class="font-hn font-size-16 font-weight-400">Menú</a></li>
        <li class="list_back"> <a href="" class="font-hn font-size-16 font-weight-400">Domicilios</a></li>
        <li class="list_back"><a href="" class="font-hn font-size-16 font-weight-400">Reservas</a></li>
      </ul>
      <div class="logo nav-none">
        <a href=""><img src="./img/Logo_Horizontal.svg" alt="">
      </div>
      <ul class="nav-links nav-clicked ">
        <li class="list_back"><a href="./nosotros.html" class="font-hn font-size-16  font-weight-400">Nosotros</a></li>
        <li class="list_back"> <a href="" class="font-hn font-size-16 font-weight-400">Blog</a></li>
        <li class="list_back"> <a href="" class="font-hn  font-size-16 font-weight-400">Contáctenos</a></li>
      </ul>
      <div class="shopping-basket">
        <button class="btn_shopping_basket"><img src="./img/cesta_sb.svg" alt=""></button>
      </div>
    </nav>

    <div class="container_one">
      <div class="carousel">
        <div class="slider">
          <section>
            <img src="./img/banner_bebidas_one.png" alt="">
          </section>
          <section>
            <img src="./img/banner_bebidas_two.png" alt="">
          </section>
          <section>
            <img src="./img/banner_bebidas_three.png" alt="">
          </section>
        </div>
        <div class="controls_menu">
          <ul>
            <li class="selected"></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container_two_menu">
      <ul class="container_two_menu_option">
        <li class="nav_icon"><button><img src="./img/IconoCubierto.svg" width="30%" height="100%" alt=""></button></li>
        <li><a href="comida.html" class="font-ys font-size-80 ">Comida</a></li>
        <li><a href="#" class="font-ys font-size-80 text_shadow">Bebidas y Chupe</a></li>
        <li><a href="postres.html" class="font-ys font-size-80">Postres</a></li>
      </ul>
      <div class="container_two_menu_one">
        <ul class="container_two_menu_one_items">
          <li><a href="#" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">Para
              Picotear</a></li>
          <li><a href="#" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">tacos</a>
          </li>
          <li><a href="#" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">Ensaladas</a>
          </li>
          <li><a href="#" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">Platos
              Fuertes</a></li>
          <li><a href="#" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">Para
              chamacos</a></li>
        </ul>

        <div class="container_two_menu_items">
          <h1 class="font-brow-menu font-dw font-size-48 font-weight-400 ">PARA PICOTEAR</h1>
          <div class="container_two_menu_items_table">

            <ul class="leaders">
              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp ">ESQUITES DE
                  ELOTE</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$18.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Mazorca tierna desgranada con chile
                  piquin y epazole, mayonesa especial, quesillo, tajín y limón.</p>

              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">CHICHARRÓN CHICHARRÓN
                  CHICHARRÓN</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$ 28.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Crocante de chicharrón aguachilado,
                  pincho de tocino sobre puré de arepa de mote, bastones de chicharrón empanizados con salsa agridulce
                  de gulupa.</p>


              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">TOSTADA DE PULPO</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$ 22.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Láminas de pulpo al sartén acevichado.
                </p>

              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">CHILAQUILES GRATINADOS
                  CON
                  CARNE</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$ 28.000</span>
                <p class=" font-brow-menu font-size-18 font-weight-200 font-sp">Suadero de res, guacamole, frijol
                  refrito, salsa roja dulce, jalapeños, gratinado acompañado de totopos.</p>

              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">FLAUTAS DE POLLO O
                  RES</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$ 27.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Pollo o res deshebrado y queso,
                  coronadas con queso fresco, lechuga y crema acompañadas de pico de gallo y guacamole.</p>


              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">FLAUTAS MIXTAS</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$ 27.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">3 de pollo y queso, 3 de res y queso
                  coronadas con lechuga, crema y queso fresco, acompañadas de pico de gallo y guacamole.</p>

            </ul>


            <ul class="leaders">
              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">CROCANTE DE CHICHARRÓN
                  AGUACHILADO</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$23.000</span>
                <p class="font-black font-size-18 font-weight-200 font-sp">Sobre guacamole laminas de chicharrón
                  crocante coronado con acevichado.</p>

              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">FAJITAS</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$ 45.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Julianas de solomito, cebolla y pimentón,
                  salteadas y gratinadas, acompañadas de 4 tortillas de harina, pico de gallo, guacamole, lechuga,
                  salsa roja, frijol reogado, chicharrón crocante.</p>


              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">QUESADILLAS AL
                  PASTOR</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$ 29.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Tortilla de harina blanda con carne de cerdo
                  al pastor, piña y queso derretido acompañada de pico de gallo y guacamole.
                </p>

              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">MOLCAJETE</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$ 28.000</span>
                <p class=" font-blackfont-size-18 font-weight-200 font-sp">Guacamole, elote dulce, crocante de tocino,
                  chiles toreados, mermelada de mango, acompañado de totopos y pico de gallo.</p>

              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">TOSTADITAS DE SUADERO
                  DE RES (2 UND)</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$ 23.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Carne de res deshebrada, frijol refrito,
                  guacamoles, cebolla y cilantro gratinadas.</p>


              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">POZOLE ROJO</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$.000</span>
                <p class="font-black font-size-18 font-weight-200 font-sp">3 de pollo y queso, 3 de res y queso
                  coronadas con lechuga, crema y queso fresco, acompañadas de pico de gallo y guacamole.</p>

            </ul>
          </div>

          <h1 class="font-pink-menu font-dw font-size-48 font-weight-400 ">TACOS</h1>
          <div class="container_two_menu_items_table">

            <ul class="leaders">
              <li><span class="font-pink-menu font-size-20 font-weight-400 font-sp">COLIFLOR</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$ 15.000</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$ 21.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Coliflor y champiñones crocantes, Crema de
                  coliflor, hojas frescas, mermelada de jitomates, guacamole.</p>

              <li><span class="font-pink-menu font-size-20 font-weight-400 font-sp">AL PASTOR</span>
                <span class=" font-pink-menu  font-size-20 font-weight-400 font-sp">$ 21.000</span>
                <span class=" font-pink-menu  font-size-20 font-weight-400 font-sp">$ 30.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Mixta de cerdo guisado en achote con piña.
                </p>


              <li><span class="font-pink-menu  font-size-20 font-weight-400 font-sp">CARNITAS</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$ 21.000</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$ 30.000</span>
                <p class=" font-black  font-size-18 font-weight-200 font-sp">Mixto de cerdo dorada al sartén, lechuga,
                  guacamole y crema chipotle.
                </p>

              <li><span class="font-pink-menu font-size-20 font-weight-400 font-sp">CHINCHINES</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$ 18.000</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$ 27.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Chinchulines tostados, frijol refrito,
                  guacamole y pico de gallo.</p>


            </ul>
            <ul class="leaders">
              <li><span class="font-pink-menu font-size-20 font-weight-400 font-sp">HAMBURGUESA</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$19.000</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$28.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Tortilla de maíz, tortilla de queso
                  crocante, nuestra carne de hamburguesa certified, lechuga.</p>

              <li><span class="font-pink-menu font-size-20 font-weight-400 font-sp">DE MAR</span>
                <span class=" font-pink-menu  font-size-20 font-weight-400 font-sp">$ 23.000</span>
                <span class=" font-pink-menu  font-size-20 font-weight-400 font-sp">$ 32.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Sobre arroz poblano ceviche mixto a la
                  parilla acevichado y guacamole.</p>


              <li><span class="font-pink-menu  font-size-20 font-weight-400 font-sp">LENGUA</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$ 18.000</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$ 27.000</span>
                <p class="font-black font-size-18 font-weight-200 font-sp">Crocante de lengua, mole poblano, guacamole.
                </p>

              <li><span class="font-pink-menu font-size-20 font-weight-400 font-sp">POLLO ROSTIZADO</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$ 21.000</span>
                <span class=" font-pink-menu font-size-20 font-weight-400 font-sp">$ 30.000</span>
                <p class="font-black font-size-18 font-weight-200 font-sp">Salteado y bañado en salsa achiotada, queso
                  y repollo encurtido.</p>

            </ul>
          </div>

          <h1 class="font-yellow-menu font-dw font-size-48 font-weight-400 ">ENSALADAS</h1>
          <div class="container_two_menu_items_table">

            <ul class="leaders">
              <li><span class="font-yellow-menu font-size-20 font-weight-400 font-sp">MEXICANO</span>
                <span class=" font-yellow-menu font-size-20 font-weight-400 font-sp">$ 27.000</span>
                <p class=" font-black  font-size-18 font-weight-200 font-sp">Hongos escabechados, mezcla de hojas
                  frescas, chayote encurtido, elote dulce, pistachos, pan de ajo, vinagreta de alcaparras, crema de
                  aguacate y queso.</p>
            </ul>

            <ul class="leaders">
              <li><span class="font-yellow-menu font-size-20 font-weight-400 font-sp">ENSALADOTA</span>
                <span class=" font-yellow-menu font-size-20 font-weight-400 font-sp">$29.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Pollo rebozado, queso deshebrado, elote
                  desgranado, aguacate, rajas de tortilla crocante, manzana, lechugas y brotes, salsa de chipotle.</p>
            </ul>

          </div>

          <h1 class="font-brow-menu font-dw font-size-48 font-weight-400 ">PLATOS FUERTES</h1>
          <div class="container_two_menu_items_table">

            <ul class="leaders">
              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp ">MORRILLO</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$32.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Braseado en sus jugos con migas de arepa de
                  mote y vegetales encurtidos.</p>

              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp">OSOBUCO DE RES
                  PRENSADO</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$ 38.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Cocinado por 12 horas a fuego lento, salsa
                  de cacahuates, puré de arracacha, hojas frescas, acompañado de totopos.</p>


              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp">HAMBURGUESA DE RES
                  CERTIFIED</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$ 19.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Carne importada certified Angus beef , pan
                  artesanal, queso tilsit, queso azul, tocineta ahumada, lechuga, tomate, pimientos asados, cebolla
                  caramelizada, guacamole, acompañada de papas cascos.
                </p>

              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp">STRIP LOIN</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$ 70.000</span>
                <p class=" font-brow-menu font-size-18 font-weight-200 font-sp">Corte importado certified Angus beef,
                  avellanado en mantequilla e ajos, acompañado de migas de arepa de mote y calabacitas.</p>

              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp">BURROTE DE
                  QUESO</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$ 35.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Tortilla de harina y de queso relleno de
                  cerdo al pastor, queso, arroz poblano, frijol refrito, y maíz dulce.</p>


              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp">LOMITO DE CERDO MOLE
                  POBLANO</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$ 45.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Encostrado en morena bañado en mole poblano
                  a base de chocolate y ajonjolí sobre arroz verde mexicano.</p>


              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp">PULPO ACHOTADO</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$ 55.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">A la parrilla, bañado en salsa de achiote y
                  coco, papas cascos y chayote asado.</p>


              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp">PESCA CON
                  MARISCOS</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$ 45.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">En salsa de achote y coco con camarones y
                  calamares sobre frijol refrito y amorcillado, suero costeño, guacamole, berros frescos.</p>


              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp">ARROZ CON
                  MARISCOS</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$ 45.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Arroz cremoso al coco y chontaduro con
                  pulpo, anillos de calamar y camarones salteados, tomatillos asados, chicharos, calabacín, manzana
                  verde y queso.</p>

            </ul>

            <ul class="leaders">
              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp ">LOMITO DE RES RANCHERO</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$45.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Gratinado y ahogado en salsa ranchera sobre
                  puré de papa y coliflor, chips de arracacha.</p>


              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp ">ARROZ POBLANO CON RES</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$45.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Solomito de res a las brasas con mermelada
                  de jitomates sobre arroz verde mexicano con sofrito y elote dulce, terminado con totopos verdes.</p>

              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp ">ARRACHERA DE VACIO</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$70.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Corte importado certified Angus beef del
                  costado de la costilla , a las brasas bañado en mantequilla de ajos sobre amorcillado, mermelada de
                  jitomates y suero costeño.</p>

              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp ">CHILE RELLENO</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$35.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">De res y cerdo, manzanas, peras, almendras,
                  pasas, gratinado sobre salsa de nuez.</p>

              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp ">COSTILLAS BARBACOA</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$42.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Cocción lenta por 24 horas bañadas en
                  salsa barbacoa mera mera, con papas al mojo de ajo.</p>


              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp ">ENCHILADAS SUIZAS</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$32.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Rellenas de cerdo pastor y gratinadas
                  bañadas en salsa roja dulce acompañadas de pico de gallo.</p>

              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp ">SALMÓN A LA TAMPIQUEÑA</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$45.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Confitado y asado a las brasas, salsa a base
                  de naranja, arroz verde mexicano y verduras asadas.</p>

              <li><span class="font-orange-menu font-size-20 font-weight-400 font-sp ">POLLITO ROSTIZADO CON MOLE
                  MANCHAMANTELES</span>
                <span class=" font-orange-menu font-size-20 font-weight-400 font-sp">$42.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Cocido a baja temperatura bañado en salsa
                  manchamanteles a base de chiles, acompañado de calabacines asados, zanahorias encurtidas, queso
                  fresco, acompañado de bastones de arracacha.</p>

            </ul>

          </div>

          <h1 class="font-brow-menu font-dw font-size-48 font-weight-400 ">PARA LOS CHAMACOS</h1>
          <div class="container_two_menu_items_table">

            <ul class="leaders">
              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">FLAUTICAS DE QUESO Y RES</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$ 23.000</span>
                <p class=" font-black  font-size-18 font-weight-200 font-sp">Tortilla de harina rellena de res y queso derretido con salsa roja dulce.</p>
            
                <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">SOLOMITO GRATÍN</span>
                  <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$ 29.000</span>
                  <p class=" font-black  font-size-18 font-weight-200 font-sp">Cubitos de solomito asados y gratinados sobre salsa ranchera acompañado de papas fritas</p>
            
              </ul>

            <ul class="leaders">
              <li><span class="font-brow-menu font-size-20 font-weight-400 font-sp">BOMBONES DE POLLO</span>
                <span class=" font-brow-menu font-size-20 font-weight-400 font-sp">$23.000</span>
                <p class=" font-black font-size-18 font-weight-200 font-sp">Pollo empanizado bañados en salsa de queso cheddar y miel mostaza con papas casco.</p>
            </ul>

          </div>
        </div>
      </div>

    </div>


    <div class="container_two">
           
      <div class="container_two_two">
          <div class="container_two_tittle">
              <h1 class="font-sp font-size-30 font-weight-bold ">Blog</h1>
              <h2 class="font-sp font-size-30 font-weight-600 "><i class="material-icons">remove</i>Puro Merequetengue<i class="material-icons">remove</i> </h2>
          </div>

          <div class="card-group-two">

              <div class="card_two card_blog_text card_blog_text_one">
                  <div class="card-body-two">
                    <div class="card-body-text-two">
                      <h5 class="card-title-two font-dc font-size-38 font-weight-bold">Comida Paisa con <br> acento mexicano</h5>
                      <small class="card-text-two font-hn font-weight-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit,  <span class="card-text-two card-text-two-hide  font-hn font-weight-200">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ad minim veniam, quis nostrud exercitation ullamco laboris</span> </small>  
                    </div>
                    <a href=""><img src="" alt=""></a>
                      </div>
                </div>   

              <div class="card_two card_img">
                <img src="./img/img_one.png" alt="">
              </div>

              <div class="card_two">
                <img src="./img/img_two.png"   alt="">
              </div>

              <div class="card_two card_blog_text card_blog_text_two">
                <div class="card-body-two">
                    <div class="card-body-text-two">
                      <h5 class="card-title-two font-dc font-size-38 font-weight-bold">Tequila y aguardiente, <br> ¡Puro merequetengue!</h5>
                      <small class="card-text-two font-hn font-weight-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit,  <span class="card-text-two card-text-two-hide  font-hn font-weight-200">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ad minim veniam, quis nostrud exercitation ullamco laboris</span> </small>  
                    </div>
                  <a href=""><i class="material-icons orange">navigate_next</i></a>
              </div>
              </div>

            </div>
      </div>

      <div class="container_two_three">

      </div>
  </div>

    <footer>
      <div class="footer_one">
        <div class="footer_one_img">
          <img src="./img/logo_footer.svg" alt="">
        </div>

        <div class="footer_one_adress">
          <div class="footer_one_adress_item">
            <p class="font-size-14 font-weight-600 font-sp">El poblado</p>
            <p class="font-size-14 font-weight-400 font-sp">Carrera 36#10b-27</p>
            <p class="font-size-14 font-weight-400 font-sp">Medellín</p>
          </div>

          <div class="footer_one_adress_item">
            <p class="font-size-14 font-weight-600 font-sp">Túnel de Oriente</p>
            <p class="font-size-14 font-weight-400 font-sp">Sajonia</p>
            <p class="font-size-14 font-weight-400 font-sp">Rionegro</p>
          </div>

        </div>

        <div class="footer_one_email">
          <div class="footer_one_email_item">
            <p class="font-size-14 font-weight-400 font-sp">info@lamalsentada.com</p>
            <p class="font-size-14 font-weight-400 font-sp">569 043 0236</p>
          </div>
        </div>

        <div class="footer_one_calendar">
          <p class="font-size-14 font-weight-600 font-sp">Horarios domicilios</p>
          <table>
            <tr>
              <td class="font-size-14 font-weight-400 font-sp">Lunes a Jueves</td>
              <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
            </tr>
            <tr>
              <td class="font-size-14 font-weight-400 font-sp">Viernes a Sabádo</td>
              <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
            </tr>
            <tr>
              <td class="font-size-14 font-weight-400 font-sp">Domingo y Festivos</td>
              <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
            </tr>
          </table>
        </div>
        <div class="footer_one_reds">

        </div>
      </div>
      <div class="footer_two">
        <img src="./img/footer_img.svg" alt="">

      </div>
    </footer>

  </div>
    <script src="./index.js"></script>
</body>

</html>