<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Malsentada</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/style_menu.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">
    <nav>
      <div class="burger" id="burger">
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
      </div>
      <div class="perfil_person">
        <a href=""><img src="../img/open-person.svg" alt=""></a>
      </div>
      <ul class="nav-links">
        <li class="list_back nav-active"><a href="#menu" class="font-hn font-size-16 font-weight-400">Menú</a></li>
        <li class="list_back"> <a href="#" class="font-hn font-size-16 font-weight-400">Domicilios</a></li>
        <li class="list_back"><a href="#reservas" class="font-hn font-size-16 font-weight-400">Reservas</a></li>
      </ul>
      <div class="logo nav-none">
        <a href="../index.html"><img src="../img/Logo_Horizontal.svg" alt="">
      </div>
      <ul class="nav-links">
        <li class="list_back "><a href="./nosotros.html" class="font-hn font-size-16  font-weight-400">Nosotros</a></li>
        <li class="list_back"> <a href="#blog" class="font-hn font-size-16 font-weight-400">Blog</a></li>
        <li class="list_back"> <a href="#" class="font-hn  font-size-16 font-weight-400">Contáctenos</a></li>
        <div class="nav-redes-sociales">
          <a href=""><img src="../img/facebook_footer.svg" alt=""></a>
          <a href=""><img src="../img/instagram_footer.svg" alt=""></a>
          <a href=""><img src="../img/IconTripAdvisor.svg" alt=""></a>
        </div>
      </ul>

      <div class="shopping-basket">
        <button class="btn_shopping_basket"><img src="../img/cesta_sb.svg" alt=""></button>
      </div>
    </nav>

    <div class="container_one">
      <div class="carousel">
        <div class="slider">
          <section>
            <img src="../img/comida_one_nav.png" width="95%" alt="">
          </section>
          <section>
            <img src="../img/comida_two_nav.png" width="95%" alt="">
          </section>
          <section>
            <img src="../img/comida_three_nav.png" width="95%" alt="">
          </section>
        </div>
        <div class="controls_menu">
          <ul>
            <li class="selected"></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container_two_menu">
      <ul class="container_two_menu_option">
        <li class="nav_icon"><a href=""><img src="../img/IconoCubierto.svg" 
          alt=""></a></li>
        <li><a href="comida.html" class="font-ys font-size-80 text_shadow">Comida</a></li>
        <li><a href="bebidas.html" class="font-ys font-size-80">Bebidas y Chupe</a></li>
        <li><a href="postres.html" class="font-ys font-size-80">Postres</a></li>
      </ul>
      <div class="container_two_menu_one">
        <ul class="container_two_menu_one_items">
          <li><a href="#picotear" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">Para
              Picotear</a></li>
          <li><a href="#tacos" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">tacos</a>
          </li>
          <li><a href="#ensaladas" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">Ensaladas</a>
          </li>
          <li><a href="#fuertes" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">Platos
              Fuertes</a></li>
          <li><a href="#chamacos" class="font-dw font-black-menu font-size-38 font-weight-400 letter-spacing-menu">Para
              chamacos</a></li>
        </ul>

        <div class="container_two_menu_items">
          <h1 class="font-brow-menu font-dw font-size-48 font-weight-400 " id="picotear">PARA PICOTEAR</h1>
          <div class="container_two_menu_items_table">

        
            <ul class="menu_table">
              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">EQUITES DE ELOTE</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$18.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Mazorca tierna desgranada con chile piquin y epazole, mayonesa especial, quesillo, tajín y limón.</div>

              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">CHICHARRÓN CHICHARRÓN CHICHARRÓN</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$28.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Crocante de chicharrón aguachilado, pincho de tocino sobre puré de arepa de mote, bastones de chicharrón empanizados con salsa agridulce de gulupa.</div>

              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">TOSTADA DE PULPO</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$22.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Láminas de pulpo al sartén acevichado.</div>

              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">CHILAQUILES GRATINADOS CON CARNE</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$28.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Suadero de res, guacamole, frijol refrito, salsa roja dulce, jalapeños, gratinado acompañado de totopos.</div>

              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">FLAUTAS DE POLLO O RES</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$27.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Pollo o res deshebrado y queso, coronadas con queso fresco, lechuga y crema acompañadas de pico de gallo y guacamole.</div>

              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">FLAUTAS MIXTAS</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$27.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">3 de pollo y queso, 3 de res y queso coronadas con lechuga, crema y queso fresco, acompañadas de pico de gallo y guacamole.</div>
            </ul>

            <ul class="menu_table">
              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">CROCANTE DE CHICHARRÓN AGUACHILADO</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$23.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Sobre guacamole laminas de chicharrón crocante coronado con acevichado.</div>

              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">FAJITAS</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$45.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Julianas de solomito, cebolla y pimentón, salteadas y gratinadas, acompañadas de 4 tortillas de harina, pico de gallo, guacamole, lechuga, salsa roja, frijol reogado, chicharrón crocante.</div>

              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">QUESADILLAS AL PASTOR</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$29.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Tortilla de harina blanda con carne de cerdo al pastor, piña y queso derretido acompañada de pico de gallo y guacamole.</div>

              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">MOLCAJETE</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$28.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Guacamole, elote dulce, crocante de tocino, chiles toreados, mermelada de mango, acompañado de totopos y pico de gallo.</div>

              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">TOSTADITAS DE SUADERO DE RES (2 UND)</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$23.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Carne de res deshebrada, frijol refrito, guacamoles, cebolla y cilantro gratinadas.</div>

              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">POZOLE ROJO</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$15.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Sopa de elote con cerdo deshebrado, rábanos, cebolla, cilantro, lechuga y aguacate.</div>
            </ul>

           

          </div>

          <h1 class="font-pink-menu font-dw font-size-48 font-weight-400 " id="tacos">TACOS</h1>

          <div class="container_two_menu_items_table">
            <ul class="menu_table">
              <li><strong class="font-pink-menu font-size-18  font-weight-400 font-sp text-table">UNIDADES</strong><span class="font-pink-menu font-size-20  font-weight-400 font-sp">2 UND</span><span class="font-pink-menu font-size-20  font-weight-400 font-sp left-number">3 UND</span></li>
               
              <li><strong class="font-pink-menu font-size-18  font-weight-400 font-sp"><img src="../img/IconVeggie.svg" width="5%" alt="">COLIFLOR</strong><span class="font-pink-menu font-size-18  font-weight-400 font-sp">$15.000</span><span class="font-pink-menu font-size-18  font-weight-400 font-sp left-number">$18.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Coliflor y champiñones crocantes, Crema de coliflor, hojas frescas, mermelada de jitomates, guacamole.</div>

              <li><strong class="font-pink-menu font-size-18  font-weight-400 font-sp">AL PASTOR</strong><span class="font-pink-menu font-size-18  font-weight-400 font-sp">$21.000</span><span class="font-pink-menu font-size-18  font-weight-400 font-sp left-number">$30.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Mixta de cerdo guisado en achote con piña.</div>

              <li><strong class="font-pink-menu font-size-18  font-weight-400 font-sp">CARNITAS</strong><span class="font-pink-menu font-size-18  font-weight-400 font-sp">$21.000</span><span class="font-pink-menu font-size-18  font-weight-400 font-sp left-number">$30.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Mixto de cerdo dorada al sartén, lechuga, guacamole y crema chipotle.</div>

              <li><strong class="font-pink-menu font-size-18  font-weight-400 font-sp">CHINCHINES</strong><span class="font-pink-menu font-size-18  font-weight-400 font-sp">$18.000</span><span class="font-pink-menu font-size-18  font-weight-400 font-sp left-number">$28.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Chinchulines tostados, frijol refrito, guacamole y pico de gallo.</div>

            </ul>

            <ul class="menu_table">
              <li><strong class="font-pink-menu font-size-18  font-weight-400 font-sp text-table">UNIDADES</strong><span class="font-pink-menu font-size-20  font-weight-400 font-sp">2 UND</span><span class="font-pink-menu font-size-20  font-weight-400 font-sp left-number">3 UND</span></li>
               
              <li><strong class="font-pink-menu font-size-18  font-weight-400 font-sp">HAMBURGUESA</strong><span class="font-pink-menu font-size-18  font-weight-400 font-sp">$19.000</span><span class="font-pink-menu font-size-18  font-weight-400 font-sp left-number">$28.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Tortilla de maíz, tortilla de queso crocante, nuestra carne de hamburguesa certified, lechuga.</div>

              <li><strong class="font-pink-menu font-size-18  font-weight-400 font-sp">DE MAR</strong><span class="font-pink-menu font-size-18  font-weight-400 font-sp">$23.000</span><span class="font-pink-menu font-size-18  font-weight-400 font-sp left-number">$32.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Sobre arroz poblano ceviche mixto a la parilla acevichado y guacamole.</div>

              <li><strong class="font-pink-menu font-size-18  font-weight-400 font-sp">LENGUA</strong><span class="font-pink-menu font-size-18  font-weight-400 font-sp">$18.000</span><span class="font-pink-menu font-size-18  font-weight-400 font-sp left-number">$27.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Crocante de lengua, mole poblano, guacamole.</div>

              <li><strong class="font-pink-menu font-size-18  font-weight-400 font-sp">POLLO ROSTIZADO</strong><span class="font-pink-menu font-size-18  font-weight-400 font-sp">$21.000</span><span class="font-pink-menu font-size-18  font-weight-400 font-sp left-number">$30.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Salteado y bañado en salsa achiotada, queso y repollo encurtido.</div>
              
            </ul>

           </div>
           <p class="font-pink-menu font-size-14 font-weight-200 font-sp td-text">Todos nuestros tacos salen con cebolla, cilantro acompañados de salsa roja suave, verde picosa y casco de limón.</p>



          <h1 class="font-yellow-menu font-dw font-size-48 font-weight-400 " id="fuertes">ENSALADAS</h1>
          <div class="container_two_menu_items_table">
            <ul class="menu_table">
              <li><strong class="font-yellow-menu font-size-18  font-weight-400 font-sp"><img src="../img/IconVeggie.svg" width="5%" alt="">MEXICANA</strong><span class="font-yellow-menu font-size-18  font-weight-400 font-sp">$27.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Hongos escabechados, mezcla de hojas frescas, chayote encurtido, elote dulce, pistachos, pan de ajo, vinagreta de alcaparras, crema de aguacate y queso.</div>
            </ul>
            <ul class="menu_table">
              <li><strong class="font-yellow-menu font-size-18  font-weight-400 font-sp">ENSALADOTA</strong><span class="font-yellow-menu font-size-18  font-weight-400 font-sp">$29.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Pollo rebozado, queso deshebrado, elote desgranado, aguacate, rajas de tortilla crocante, manzana, lechugas y brotes, salsa de chipotle.</div>
            </ul>
            

          </div>



          <h1 class="font-orange-menu font-dw font-size-48 font-weight-400 " id="fuertes">PLATOS FUERTES</h1>
          <div class="container_two_menu_items_table">
            <ul class="menu_table">
              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">MORRILLO</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$32.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Braseado en sus jugos con migas de arepa de mote y vegetales encurtidos.</div>
              
              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">OSOBUCO DE RES PRENSADO</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$38.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Cocinado por 12 horas a fuego lento, salsa de cacahuates, puré de arracacha, hojas frescas, acompañado de totopos.</div>

              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">HAMBURGUESA DE RES CERTIFIED</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$19.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Carne importada certified Angus beef , pan artesanal, queso tilsit, queso azul, tocineta ahumada, lechuga, tomate, pimientos asados, cebolla caramelizada, guacamole, acompañada de papas cascos.</div>

              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">STRIP LOIN</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$70.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Corte importado certified Angus beef, avellanado en mantequilla e ajos, acompañado de migas de arepa de mote y calabacitas.</div>


              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">BURROTE DE QUESO</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$35.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Tortilla de harina y de queso relleno de cerdo al pastor, queso, arroz poblano, frijol refrito, y maíz dulce.</div>
            


              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">LOMITO DE CERDO MOLE POBLANO</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$45.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Encostrado en morena bañado en mole poblano a base de chocolate y ajonjolí sobre arroz verde mexicano.</div>

              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">PULPO ACHOTADO</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$55.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">A la parrilla, bañado en salsa de achiote y coco, papas cascos y chayote asado.</div>
              

              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">PESCA CON MARISCOS</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$45.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">En salsa de achote y coco con camarones y calamares sobre frijol refrito y amorcillado, suero costeño, guacamole, berros frescos.</div>
              
              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">ARROZ CON MARISCOS</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$45.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Arroz cremoso al coco y chontaduro con pulpo, anillos de calamar y camarones salteados, tomatillos asados, chicharos, calabacín, manzana verde y queso.</div>
            </ul>

            <ul class="menu_table">
              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">LOMITO DE RES RANCHERO</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$45.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Gratinado y ahogado en salsa ranchera sobre puré de papa y coliflor, chips de arracacha.</div>
              
              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">ARROZ POBLANO CON RES</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$45.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Solomito de res a las brasas con mermelada de jitomates sobre arroz verde mexicano con sofrito y elote dulce, terminado con totopos verdes.</div>

              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">ARRACHERA DE VACIO</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$70.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Corte importado certified Angus beef del costado de la costilla , a las brasas bañado en mantequilla de ajos sobre amorcillado, mermelada de jitomates y suero costeño.</div>

              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">CHILE RELLENO</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$35.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">De res y cerdo, manzanas, peras, almendras, pasas, gratinado sobre salsa de nuez.</div>


              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">COSTILLAS BARBACOA</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$42.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Cocción lenta por 24 horas bañadas en salsa barbacoa mera mera, con papas al mojo de ajo.</div>
                      
              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">ENCHILADAS SUIZAS</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$32.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Rellenas de cerdo pastor y gratinadas bañadas en salsa roja dulce acompañadas de pico de gallo.</div>
                      
              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">SALMÓN A LA TAMPIQUEÑA</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$45.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Confitado y asado a las brasas, salsa a base de naranja, arroz verde mexicano y verduras asadas.</div>
            
              <li><strong class="font-orange-menu font-size-18  font-weight-400 font-sp">POLLITO ROSTIZADO CON MOLE MANCHAMANTELES</strong><span class="font-orange-menu font-size-18  font-weight-400 font-sp">$42.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Cocido a baja temperatura bañado en salsa manchamanteles a base de chiles, acompañado de calabacines asados, zanahorias encurtidas, queso fresco, acompañado de bastones de arracacha.</div>
            </ul>
          </div>

          <h1 class="font-brow-menu font-dw font-size-48 font-weight-400 " id="chamacos">PARA LOS CHAMACOS</h1>
          <div class="container_two_menu_items_table">
            <ul class="menu_table">
              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">FLAUTICAS DE QUESO Y RES</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$23.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Tortilla de harina rellena de res y queso derretido con salsa roja dulce.</div>
              
              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">SOLOMITO GRATÍN</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$29.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Cubitos de solomito asados y gratinados sobre salsa ranchera acompañado de papas fritas</div>
            </ul>

            <ul class="menu_table">
              <li><strong class="font-brow-menu font-size-18  font-weight-400 font-sp">BOMBONES DE POLLO</strong><span class="font-brow-menu font-size-18  font-weight-400 font-sp">$23.000</span></li>
              <div class="font-black font-size-16 font-weight-200 font-sp td-text">Pollo empanizado bañados en salsa de queso cheddar y miel mostaza con papas casco.</div>
            
            </ul>

          </div>
        </div>
      </div>

    </div>


    <div class="container_two">

        <div class="container_two_one" id="menu">
          <div class="container_two_tittle">
            <h1 class="font-sp font-size-30 font-weight-bold" >Menú</h1>
            <div class="container_two_subtittle">
              <div class="rectangulo"></div>
              <h2 class="font-sp font-size-30 font-weight-600 ">Un auténtico carnaval de sabores</h2>
              <div class="rectangulo"></div>
            </div>
          </div>
  
          <div class="card-group" id="cards">
            <div class="card card_one">
              <img src="../img/Domicilios.png" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="card-body-text">
                  <h5 class="card-title font-sp font-size-18 font-weight-600">En casa</h5>
                  <p class="card-text font-sp font-size-18 font-weight-200">Menú para domicilios</p>
                </div>
                <a href="../comida.html"><i class="material-icons orange font-size-38">navigate_next</i></a>
              </div>
            </div>
            <div class="card">
              <img src="../img/Comida.png" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="card-body-text">
                  <h5 class="card-title font-sp font-size-18 font-weight-600">Comidas</h5>
                  <p class="card-text font-sp font-size-18 font-weight-200">Entradas, tacos, fuertes.</p>
                </div>
                <a href="./comida.html"><i class="material-icons orange font-size-38">navigate_next</i></a>
              </div>
            </div>
            <div class="card">
              <img src="../img/Bebidas.png" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="card-body-text">
                  <h5 class="card-title font-sp font-size-18 font-weight-600">Bebidas y chupe</h5>
                  <p class="card-text font-sp font-size-18 font-weight-200">Jugos, aguas frescas, licores</p>
                </div>
                <a href=""><i class="material-icons orange">navigate_next</i></a>
              </div>
            </div>
            <div class="card">
              <img src="../img/Postre.png" class="card-img-top" alt="">
              <div class="card-body">
                <div class="card-body-text">
                  <h5 class="card-title font-sp font-size-18 font-weight-600">Postres</h5>
                  <p class="card-text font-sp font-size-18 font-weight-200">Dulce colombo-mexicano</p>
                </div>
                <a href="postres.html"><i class="material-icons orange">navigate_next</i></a>
              </div>
            </div>
          </div>
  
          <button id="btnShow"><img src="../img/vermas_yellow.svg" alt=""></button>
        </div>
  
        <div class="container_two_three" id="reservas">
          <div class="container_two_tittle">
            <h1 class="font-sp font-size-30 font-weight-bold ">Reserva</h1>
            <h2 class="font-sp font-size-30 font-weight-600 ">¡Ándale, vamos!</h2>
          </div>
          <div class="card-group-three">
            <div class="card-group-three-item">
              <div class="card-group-three-item-one">
                <h1 class="font-ys font-weight-400 font-justify-center font-white font-size-100">¡Órale <br> Pues!</h1>
                <div class="cestadeaji cestadeaji_menu">
                  <img src="../img/cestadeaji.png" alt="">
                </div>
                <div class="img_aji img_aji_menu">
                  <img src="../img/aji2.png" alt="">
                </div>
              </div>
              <div class="card-group-three-item-two">
                <h2 class="font-brow-menu font-size-24 font-sp ">Haz tu reserva</h2>
                <div class="card-group-three-item-two-one">
                  <div class="card-group-three-item-two-one-items select-restaurant ">
                    <img src="../img/address.svg" alt="">
                    <select name="" id="" ><option value="Selecciona el restaurante">Selecciona el restaurante</option></select>
                  </div>
                  <div class="card-group-three-item-two-one-items">
                    <img src="../img/person.svg" alt="">
                    <button class="btn-left" id="decrease" onclick="decreaseValue()">-</button>
                    <input class="card-group-three-item-two-one-items-number" type="number" id="number"  placeholder="0" min="0">
                    <button class="btn-right" id="increase" onclick="increaseValue()" >+</button>
                  </div>
  
                  <div class="card-group-three-item-two-one-items">
                    <img src="../img/XMLID_806_.svg" alt="">
                    <input type="time" placeholder="Hora" required>
                  </div>
  
                  <div class="card-group-three-item-two-one-items">
                    <img src="../img/dinning-table.svg" alt="">
                    <button class="btn-left" onclick="decreaseValueTwo()">-</button>
                    <input type="number" class="card-group-three-item-two-one-items-number" id="numbertwo" placeholder="0" min="0" >
                    <button class="btn-right" onclick="increaseValueTwo()">+</button>
                  </div>
               
  
                  <div class="card-group-three-item-two-one-items">
                    <img src="../img/appointment.svg" alt="">
                    <input type="date" placeholder="00/00/0000" required >
                  </div>
  
  
                  <div class="card-group-three-item-two-one-items">
                    <img src="../img/contact.svg" alt="">
                    <input type="number" placeholder="Teléfono">
                  </div>
      
                </div>
                <button class="btn-reserva font-hn font-size-18 font-weight-400 font-justify-center font-white ">Reserva</button>
  
                <div class="img_perejil img_perejil_menu">
                  <img src="../img/perejil2.png" alt="">
                </div>
              </div>
  
              </div>
            </div>
  
        </div>
      </div>
      <footer>
        <div class="footer_one">
          <div class="footer_one_img">
            <img src="../img/logo_footer.svg" alt="">
          </div>
    
          <div class="footer_one_adress">
            <div class="footer_one_adress_item">
              <p class="font-size-14 font-weight-600 font-sp">El poblado</p>
              <p class="font-size-14 font-weight-400 font-sp">Carrera 36#10b-27</p>
              <p class="font-size-14 font-weight-400 font-sp">Medellín</p>
            </div>
    
            <div class="footer_one_adress_item">
              <p class="font-size-14 font-weight-600 font-sp">Túnel de Oriente</p>
              <p class="font-size-14 font-weight-400 font-sp">Sajonia</p>
              <p class="font-size-14 font-weight-400 font-sp">Rionegro</p>
            </div>
    
          </div>
    
          <div class="footer_one_email">
            <div class="footer_one_email_item">
              <p class="font-size-14 font-weight-400 font-sp">info@lamalsentada.com</p>
              <p class="font-size-14 font-weight-400 font-sp">569 043 0236</p>
            </div>
          </div>
    
          <div class="footer_one_calendar">
            <p class="font-size-14 font-weight-600 font-sp">Horarios domicilios</p>
            <table>
              <tr>
                <td class="font-size-14 font-weight-400 font-sp">Lunes a Jueves</td>
                <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
              </tr>
              <tr>
                <td class="font-size-14 font-weight-400 font-sp">Viernes a Sabádo</td>
                <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
              </tr>
              <tr>
                <td class="font-size-14 font-weight-400 font-sp">Domingo y Festivos</td>
                <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
              </tr>
            </table>
          </div>
          <div class="footer_one_reds">
            <div class="footer_one_reds_icon">
              <a href=""><img src="../img/facebook_footer.svg" alt=""></a>
              <a href=""><img src="../img/instagram_footer.svg" alt=""></a>
              <a href=""><img src="../img/IconTripAdvisor.svg" alt=""></a>
            </div>
    
          </div>
        </div>
        <div class="footer_two">
          <img src="../img/footer_img.svg" alt="">
    
        </div>
      </footer>

  </div>
    <script src="../js/index.js"></script>
</body>

</html>