<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Malsentada</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/style_nosotros.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
      <nav>
        <div class="burger" id="burger">
          <div id="line1"></div>
          <div id="line2"></div>
          <div id="line3"></div>
        </div>
        <div class="perfil_person">
          <a href=""><img src="../img/open-person.svg" alt=""></a>
        </div>
        <ul class="nav-links">
          <li class="list_back"><a href="#menu" class="font-hn font-size-16 font-weight-400">Menú</a></li>
          <li class="list_back"> <a href="./comida-domicilios-picotear.html" class="font-hn font-size-16 font-weight-400">Domicilios</a></li>
          <li class="list_back"><a href="#reservas" class="font-hn font-size-16 font-weight-400">Reservas</a></li>
        </ul>
        <div class="logo nav-none">
          <a href="../index.html"><img src="../img/Logo_Horizontal.svg" alt="">
        </div>
        <ul class="nav-links">
          <li class="list_back nav-active"><a href="./nosotros.html" class="font-hn font-size-16  font-weight-400">Nosotros</a></li>
          <li class="list_back"> <a href="#blog" class="font-hn font-size-16 font-weight-400">Blog</a></li>
          <li class="list_back"> <a href="./contactenos.html" class="font-hn  font-size-16 font-weight-400">Contáctenos</a></li>
          <div class="nav-redes-sociales">
            <a href=""><img src="../img/facebook_footer.svg" alt=""></a>
            <a href=""><img src="../img/instagram_footer.svg" alt=""></a>
            <a href=""><img src="../img/IconTripAdvisor.svg" alt=""></a>
          </div>
        </ul>
  
        <div class="shopping-basket">
          <button class="btn_shopping_basket"><img src="../img/cesta_sb.svg" alt=""></button>
        </div>
      </nav>

        <div class="container_one_toro">
            <img src="../img/img_toro.png" width="100%" height="100%" alt="">
            <div class="container_two_contactanos">
                <h1 class="font-ys" >Contacto</h1>

         </div>
        </div>
       
<br>
        <div class="container_two">
<!--menú--> <div class="nav-contactenos">
           
    <ul class="list-contactenos font-dw ">
        <img class="img-list-contactenos" src="../img/Group 1313.png" alt=""> 
       
        <li><a href="#ubicacion">Ubicación</a></li>
        <li><a href="#telefono">Teléfonos</a></li>
        <li><a href="#Redes-sociales">Redes sociales</a></li>
        <li><a href="#mensaje">Enviar mensaje</a></li>
        <li><a href="#reservas">Quiero reservar</a></li>
        <br>
    </ul>
   
    </div>
          
         <!-- Ubicación-->
         <div class="container-ubi " id="ubicacion">
            <div class="container_two_tittle">
                <h1 class="font-sp font-size-30 font-weight-bold ">Ubicación</h1>  
              </div>
              <div class="container-ubicacion">
                  <div>
                     
                  </div>
              <div class="ubi1">
                  <div class="container-ubicacion-text">
                  <img src="../img/address.png" alt="">
                  <div class="container-ubicacion-text-2 font-sp">
                  <h2>La Malsentada Medellín</h2>
                  <p class="container-ubicacion-text-p">Carrera 36 #10b-27 El poblado</p>
                  </div>
                  
                   </div>
  
                  <iframe  class="iframe1"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4024991527785!2d-75.56752778523091!3d6.210526195504168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442975ed13b743%3A0x6d4f3d557ed073dc!2sRestaurante%20la%20malsentada!5e0!3m2!1ses-419!2sco!4v1594127690395!5m2!1ses-419!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="ubi2">
                  <div class="container-ubicacion-text">
                      <img src="../img/address.png" alt="">
                      <div class="container-ubicacion-text-2 font-sp">
                      <h2 class="">La Malsentada Túnel de occidente</h2>
                      <p class="container-ubicacion-text-p">Vereda sajonia, saliendo del tunel a mano derecha Rionegro</p>
                      </div>
                      <br>
                       </div>
                  <iframe class="iframe2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.653991029844!2d-75.45348668573426!3d6.177052328808702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e469ded57566f01%3A0xdf13a6af9468c74f!2sRestaurante%20la%20malsentada!5e0!3m2!1ses-419!2sco!4v1594228539155!5m2!1ses-419!2sco" width="600" height="450" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  
                </div>
              </div>
            </div>



         <!--Telefono-->
        
          <div class="container-telefonos" id="telefono">

            <div class="container_two_tittle">
                <h1 class="font-sp font-size-30 font-weight-bold ">Teléfonos</h1>  
              </div>

          </div>
          <!--Redes sociales-->
        
          <div class="container-redes" id="Redes-sociales">
            <div class="container_two_tittle">
              <h1 class="font-sp font-size-30 font-weight-bold ">Redes sociales</h1>
            </div>
        
              <div class="card-social-group">
                <img class="img-social" src="../img/fb.svg" alt="">
                <img class="img-social" src="../img/ig.svg" alt="">
                <img class="img-social"src="../img/Trip Advisor.svg" alt="">
              </div>
            </div>
         <!--Mensajes-->
         <div class="container_two_three" id="mensaje">
            <div class="container_two_tittle">
              <h1 class="font-sp font-size-30 font-weight-bold ">Enviar Mensaje</h1>
              
            </div>
            <div class="card-group-three"><!--Espaciado-->
              <div class="card-group-three-item"> <!--card responsive-->
                <div class="card-group-three-item-two-message">
                    <div class="card-group-three-item-two-one-message">
                        <div class="card-group-three-item-two-one-items-message">
                      
                            <input type="text" placeholder="Lupe Restrepo">
                          </div>
                          <div class="card-group-three-item-two-one-items-message">
                      
                            <input type="number" placeholder="Celular">
                          </div>
                     
        
                        <div class="card-group-three-item-two-one-items-message">
                          
                        <input type="text" placeholder="Email">
                          </div>
        
        
                        <div class="card-group-three-item-two-one-items-message">
                          
                          <input type="text" placeholder="Asunto">
                        </div>
                
          
                    </div>
                    <div class=" font-justify-center">
                        <textarea class="text-area"name="textarea" rows="10"></textarea>
                    </div>
                    <button class="btn-reserva font-hn font-size-18 font-weight-400 font-justify-center font-white ">Enviar</button>
                   
        
                    <div class="img_perejil">
                      <img src="../img/perejil2.png" alt="">
                    </div>
                  </div>
                <div class="card-group-three-item-one-message">
                  <h1 class="font-ys font-weight-400 font-justify-center font-white font-size-100">Queremos<br> leerte!</h1>
                  <div class="cestadeaji">
                    <img src="../img/cestadeaji.png" alt="">
                  </div>
                  <div class="img_aji">
                    <img src="../img/aji2.png" alt="">
                  </div>
                </div>
               
        
                </div>
              </div>
        
          </div>       

          <!--Reservas-->
          <div class="container_two_three" id="reservas">
            <div class="container_two_tittle">
              <h1 class="font-sp font-size-30 font-weight-bold ">Reserva</h1>
              <h2 class="font-sp font-size-30 font-weight-600 ">¡Ándale, vamos!</h2>
            </div>
            <div class="card-group-three"><!--Espaciado-->
              <div class="card-group-three-item"> <!--card responsive-->
                <div class="card-group-three-item-one">
                  <h1 class="font-ys font-weight-400 font-justify-center font-white font-size-100">¡Órale <br> Pues!</h1>
                  <div class="cestadeaji">
                    <img src="../img/cestadeaji.png" alt="">
                  </div>
                  <div class="img_aji">
                    <img src="../img/aji2.png" alt="">
                  </div>
                </div>
                <div class="card-group-three-item-two">
                  <h2 class="font-brow-menu font-size-24 font-sp ">Haz tu reserva</h2>
                  <div class="card-group-three-item-two-one">
                    <div class="card-group-three-item-two-one-items select-restaurant ">
                      <img src="../img/address.svg" alt="">
                      <select name="" id="" ><option value="Selecciona el restaurante">Selecciona el restaurante</option></select>
                    </div>
                    <div class="card-group-three-item-two-one-items">
                      <img src="../img/person.svg" alt="">
                      <button class="btn-left" id="decrease" onclick="decreaseValue()">-</button>
                      <input class="card-group-three-item-two-one-items-number" type="number" id="number"  placeholder="0" min="0">
                      <button class="btn-right" id="increase" onclick="increaseValue()" >+</button>
                    </div>
    
                    <div class="card-group-three-item-two-one-items">
                      <img src="../img/XMLID_806_.svg" alt="">
                      <input type="time" placeholder="Hora" required>
                    </div>
    
                    <div class="card-group-three-item-two-one-items">
                      <img src="../img/dinning-table.svg" alt="">
                      <button class="btn-left" onclick="decreaseValueTwo()">-</button>
                      <input type="number" class="card-group-three-item-two-one-items-number" id="numbertwo" placeholder="0" min="0" >
                      <button class="btn-right" onclick="increaseValueTwo()">+</button>
                    </div>
                 
    
                    <div class="card-group-three-item-two-one-items">
                      <img src="../img/appointment.svg" alt="">
                      <input type="date" placeholder="00/00/0000" required >
                    </div>
    
    
                    <div class="card-group-three-item-two-one-items">
                      <img src="../img/contact.svg" alt="">
                      <input type="number" placeholder="Teléfono">
                    </div>
        
                  </div>
                  <button class="btn-reserva font-hn font-size-18 font-weight-400 font-justify-center font-white ">Reserva</button>
    
                  <div class="img_perejil">
                    <img src="../img/perejil2.png" alt="">
                  </div>
                </div>
    
                </div>
              </div>
    
          </div>
        

    </div>
    <footer>
      <div class="footer_one footer">
        <div class="footer_one_img">
          <img src="../img/logo_footer.svg" alt="">
        </div>
  
        <div class="footer_one_adress">
          <div class="footer_one_adress_item">
            <p class="font-size-14 font-weight-600 font-sp">El poblado</p>
            <p class="font-size-14 font-weight-400 font-sp">Carrera 36#10b-27</p>
            <p class="font-size-14 font-weight-400 font-sp">Medellín</p>
          </div>
  
          <div class="footer_one_adress_item">
            <p class="font-size-14 font-weight-600 font-sp">Túnel de Oriente</p>
            <p class="font-size-14 font-weight-400 font-sp">Sajonia</p>
            <p class="font-size-14 font-weight-400 font-sp">Rionegro</p>
          </div>
  
        </div>
  
        <div class="footer_one_email">
          <div class="footer_one_email_item">
            <p class="font-size-14 font-weight-400 font-sp">info@lamalsentada.com</p>
            <p class="font-size-14 font-weight-400 font-sp">569 043 0236</p>
          </div>
        </div>
  
        <div class="footer_one_calendar">
          <p class="font-size-14 font-weight-600 font-sp">Horarios domicilios</p>
          <table>
            <tr>
              <td class="font-size-14 font-weight-400 font-sp">Lunes a Jueves</td>
              <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
            </tr>
            <tr>
              <td class="font-size-14 font-weight-400 font-sp">Viernes a Sabádo</td>
              <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
            </tr>
            <tr>
              <td class="font-size-14 font-weight-400 font-sp">Domingo y Festivos</td>
              <td class="font-size-14 font-weight-400 font-sp td_right">12:00m a 7:30pm</td>
            </tr>
          </table>
        </div>
        <div class="footer_one_reds">
          <div class="footer_one_reds_icon">
            <a href=""><img src="../img/facebook_footer.svg" alt=""></a>
            <a href=""><img src="../img/instagram_footer.svg" alt=""></a>
            <a href=""><img src="../img/IconTripAdvisor.svg" alt=""></a>
          </div>
  
        </div>
      </div>
      <div class="footer_two">
        <img src="../img/footer_img.svg" alt="">
  
      </div>
    </footer>
    <script src="../js/index.js"></script>
</body>
</html>