<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/style_menu.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap"
      rel="stylesheet">
</head>
<body class="body">
    <div class="container-background" id="distorsion">
        <nav>
            <div class="burger" id="burger">
              <div id="line1"></div>
              <div id="line2"></div>
              <div id="line3"></div>
            </div>
            <div class="perfil_person">
              <a href=""><img src="../img/open-person.svg" alt=""></a>
            </div>
            <ul class="nav-links">
              <li class="list_back nav-active"><a href="#menu" class="font-hn font-size-16 font-weight-400">Menú</a></li>
              <li class="list_back"> <a href="./comida-domicilios-picotear.html" class="font-hn font-size-16 font-weight-400">Domicilios</a></li>
              <li class="list_back"><a href="#reservas" class="font-hn font-size-16 font-weight-400">Reservas</a></li>
            </ul>
            <div class="logo nav-none">
              <a href="../index.html"><img src="../img/Logo_Horizontal.svg" alt="">
            </div>
            <ul class="nav-links">
              <li class="list_back "><a href="./nosotros.html" class="font-hn font-size-16  font-weight-400">Nosotros</a></li>
              <li class="list_back"> <a href="#blog" class="font-hn font-size-16 font-weight-400">Blog</a></li>
              <li class="list_back"> <a href="./contactenos.html" class="font-hn  font-size-16 font-weight-400">Contáctenos</a></li>
              <div class="nav-redes-sociales">
                <a href=""><img src="../img/facebook_footer.svg" alt=""></a>
                <a href=""><img src="../img/instagram_footer.svg" alt=""></a>
                <a href=""><img src="../img/IconTripAdvisor.svg" alt=""></a>
              </div>
            </ul>
      
           
          </nav>

<div class="container-domicilios"> 
<div class="container-domicilios-one">
    <div class="container-domicilios-one-tittle font-sp">
        <img src="../img/Icon awesome-shopping.png" alt="">
        <h1>TU CANASTA</h1>
    </div>
<div class="container-domicilios-one-options">


<div class="container-domicilios-one-content-one">
<p class="font-sp">TOSTADA DE CEVICHE DE PULPO</p>
<div class="container-incr margin-incr"> 
    <button class="decre-button" id="decrease" onclick="decreaseValue()">-</button>
    <input class="input-inc" type="text" id="number" placeholder="1"
      min="0">
    <button class="increment-button" id="increase" onclick="increaseValue()">+</button>
  </div>
</div>
<div class="container-domicilios-one-content-two">
   <p class="font-sp">Suave sesgo de pulpo mexicano al sartén, acevichado con vegetales sobre tostada de elote.</p> 
   <p class="delete font-sp">Eliminar</p>
</div>
<div class="container-domicilios-one-content-three">
    <p class="font-sp">Listo para comer</p> 
    <p class="font-sp">$22.000</p>
 </div>


</div>
<div class="container-domicilios-one-options">

    <div class="container-domicilios-one-content-one">
    <p class="font-sp">TACOS AL PASTOR</p>
    <div class="container-incr margin-incr"> 
        <button class="decre-button" id="decrease" onclick="decreaseValue()">-</button>
        <input class="input-inc" type="text" id="number" placeholder="1"
          min="0">
        <button class="increment-button" id="increase" onclick="increaseValue()">+</button>
      </div>
    </div>
    <div class="container-domicilios-one-content-two">
       <p class="font-sp">Mixta de cerdo guisado en achiote, acompañados de cebolla cilantro y piña.</p> 
       <p class="delete font-sp">Eliminar</p>
    </div>
    <div class="container-domicilios-one-content-three">
        <p class="font-sp">2 Tacos - Para preparar en casa</p> 
        <p class="font-sp">$15.000</p>
     </div>
    
    
    </div>
    <div class="container-domicilios-one-options">

        <div class="container-domicilios-one-content-one">
        <p class="font-sp">BURROTE DE QUESO</p>
        <div class="container-incr margin-incr"> 
            <button class="decre-button" id="decrease" onclick="decreaseValue()">-</button>
            <input class="input-inc" type="text" id="number" placeholder="1"
              min="0">
            <button class="increment-button" id="increase" onclick="increaseValue()">+</button>
          </div>
        </div>
        <div class="container-domicilios-one-content-two">
           <p class="font-sp">Relleno de cerdo al pastor, queso deshebrado, arroz verde, frijol refrito y maíz dulce envuelto en tortilla de harina y arepuela de queso.</p> 
           <p class="delete font-sp">Eliminar</p>
        </div>
        <div class="container-domicilios-one-content-three">
            <p class="font-sp">Mixto - Para preparar en casa</p> 
            <p class="font-sp">$27.000</p>
         </div>
        
        
        </div>
        <div class="container-domicilios-one-options">

            <div class="container-domicilios-one-content-one">
            <p class="font-sp">QUESADILLA DULCE MIA</p>
            <div class="container-incr margin-incr"> 
                <button class="decre-button" id="decrease" onclick="decreaseValue()">-</button>
                <input class="input-inc" type="text" id="number" placeholder="1"
                  min="0">
                <button class="increment-button" id="increase" onclick="increaseValue()">+</button>
              </div>
            </div>
            <div class="container-domicilios-one-content-two">
               <p class="font-sp">Rellena de cajeta, quesito La Malsentada y brevas en almíbar.</p> 
               <p class="delete font-sp">Eliminar</p>
            </div>
            <div class="container-domicilios-one-content-three">
                <p class="font-sp">Listo para comer</p> 
                <p class="font-sp">$16.000</p>
             </div>
            
            
            </div>


            <div class="container-prices">
             <div class="prices-one">
             <p>Subtotal</p>
             <p>$77.000</p>
             </div>
             <div class="prices-two">
                <p>Envío</p>
                <p>$7.000</p>
             </div>

            </div>
            <div class="container-price-total">
                <p class="margin-total">Total</p>
                <p>$77.000</p>
            
            </div>
            <div class="mas-antojos">
            <p class="font-sp">Tengo más antojos</p>
            <div class="button-back-menu font-sp">
                <a href="./comida-domicilios-picotear.html"><button  class="font-sp" type="button" style="margin-bottom: 10px;">VOLVER AL MENÚ</button></a>
              </div> 

            </div>
</div>

<div class="container-domicilios-two">

<div class="domicilios-two">
<div class="domicilios-two-tittle">
    <p class="font-sp">CONFIRMA TU INFORMACIÓN</p>
    <P class="font-sp domicilios-editar">Editar</P>
</div>
<div class="domicilios-two-info">
<p class="font-sp">Mauricio Roldan Bernal</p>
<p class="font-sp">1029384756</p>
<p class="font-sp">mauroroldan@gmail.com</p>
<p class="font-sp">311 222 22 22</p>

</div>
</div>
<div class="domicilios-two">
    <div class="domicilios-two-tittle-two">
        <p class="font-sp">INFORMACIÓN DE ENVÍO</p>
        <P class="font-sp domicilios-editar">Editar</P>

        <a href="javascript:cobertura()"><P class="font-sp domicilios-editar">Cobertura de domicilios</P></a>
    </div>
    <div class="domicilios-two-info">
    <p class="font-sp">Parcelación Oriente Rionegro</p>
    <p class="font-sp">Parcela 6</p>
    <p class="font-sp">Rionegro, Antioquia</p>
  
    
    </div>
    <div class="container-envio">
    <p class="font-sp">ENVÍO EN ORIENTE</p>
    <P>$7.000</P>
    </div>

    <div class="container-message-envio">
        <div class=" font-justify-center">
            <textarea class="text-area radius"name="textarea" rows="10" placeholder="Nota para nuestro chef"></textarea>
        </div>
    </div>

    <div class="info-pedido font-sp">
        <p>*Si en su compra tiene productos para preparar en casa, al momento de confirmación de su orden, usted recibirá un video bien chingón para que cocinemos juntos.</p>
    </div>
    </div>



</div>

<div class="container-domicilios-three">
 <div class="container-facturacion">
     <P>INFORMACIÓN DE FACTURACIÓN</P>
<div class="info-factu">
    <div class="container-shopp-options-two">
    <input type="radio" name="option" value="a" style="color:#6C200F;">Mismos datos de envío
    </div>
    
    <div class="container-shopp-options-two">
   <input type="radio" name="option" value="b">Usar información distinta
</div>
<div class="iniciar-sec">   
    <input type="text" placeholder="Nombre completo">
    <input type="text" placeholder="Número de cédula(Opcional) - NIT">
    <input type="text" placeholder="Correo electrónico">
    <input type="text" placeholder="Teléfono">
    <input type="text" placeholder="Dirección">
    <input type="text" placeholder="Ciudad">
   
    </div>

    <div class="medios-pago">
    <div class="mercado-pago">
    <img src="../img/mercado.png" alt="">
    </div>
    <div class="pse">
        <img src="../img/pse.png" alt="">
       <div class="option-pse">
        <select name="" id="" ><option value="Selecciona el restaurante">Natural</option></select>
        <select name="" id="" ><option value="Selecciona el restaurante">Bancolombia</option></select>
        <div class="option-pagar">
            <button type="text">Pagar</button>
        </div>
       </div>
            
    
    </div>
    <div class="tarjeta">
    <img src="../img/credit-card.png" alt=""> 
    </div>



    </div>






 </div>   

 

</div>
</div>





</div>

    </div>

    <div class="cobertura" id="cobertura">
        <div class="close-shop-orange ">
            <a href="javascript:cerrarlog()"><img src="../img/cerrar-orange.png" alt=""></a>
          </div>
          <div class="cobertura-container">
          <div class="tittle-cobertura">
            <h1 class="">Cobertura de domicilios</h1>  
          </div>
         
      <div class="contaner-conbertura-one">
       
  <div class="cobertura-tittle-one">
    
        <div class="container-ubicacion-text">
        <img src="../img/address.png" alt="">
        <div class="container-ubicacion-text-2 font-sp">
        <h2 class="font-sp">Medellín</h2>
        
        </div>
        
         </div>

         <div class="iframe-ubicacion">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4024991527785!2d-75.56752778523091!3d6.210526195504168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442975ed13b743%3A0x6d4f3d557ed073dc!2sRestaurante%20la%20malsentada!5e0!3m2!1ses-419!2sco!4v1594127690395!5m2!1ses-419!2sco" 
             frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

         </div>
     
      </div>
      <div class="cobertura-tittle-one">
    
        <div class="container-ubicacion-text">
        <img src="../img/address.png" alt="">
        <div class="container-ubicacion-text-2 font-sp">
        <h2 class="font-sp">Rionegro</h2>
        </div>
        
         </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.653991029844!2d-75.45348668573426!3d6.177052328808702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e469ded57566f01%3A0xdf13a6af9468c74f!2sRestaurante%20la%20malsentada!5e0!3m2!1ses-419!2sco!4v1594228539155!5m2!1ses-419!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    

  </div>

       
</div>

    </div>
    <script src="../js/index.js"></script>
</body>
</html>