<!--contactenos-->



<!--menú-->  <div class="nav-contactenos">
           
    <ul class="list-contactenos font-dw ">
        <img class="img-list-contactenos" src="../img/Group 1313.png" alt=""> 
       
        <li><a href="#ubicacion">Ubicación</a></li>
        <li><a href="#telefono">Teléfonos</a></li>
        <li><a href="">Redes sociales</a></li>
        <li><a href="">Enviar mensaje</a></li>
        <li><a href="">Quiero reservar</a></li>
        <br>
    </ul>
   
    </div>
<!--Ubicación-->   <div class="container-ubi " id="ubicacion">
            <div class="container_two_tittle">
                <h1 class="font-sp font-size-30 font-weight-bold ">Ubicación</h1>  
              </div>
              <div class="container-ubicacion">
                  <div>
                     
                  </div>
              <div class="ubi1">
                  <div class="container-ubicacion-text">
                  <img src="../img/address.png" alt="">
                  <div class="container-ubicacion-text-2 font-sp">
                  <h2>La Malsentada Medellín</h2>
                  <p class="container-ubicacion-text-p">Carrera 36 #10b-27 El poblado</p>
                  </div>
                  
                   </div>
  
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4024991527785!2d-75.56752778523091!3d6.210526195504168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442975ed13b743%3A0x6d4f3d557ed073dc!2sRestaurante%20la%20malsentada!5e0!3m2!1ses-419!2sco!4v1594127690395!5m2!1ses-419!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="ubi2">
                  <div class="container-ubicacion-text">
                      <img src="../img/address.png" alt="">
                      <div class="container-ubicacion-text-2 font-sp">
                      <h2 class="">La Malsentada Túnel de occidente</h2>
                      <p class="container-ubicacion-text-p">Vereda sajonia, saliendo del tunel a mano derecha Rionegro</p>
                      </div>
                      <br>
                       </div>
                  <iframe class="iframe2" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15865.259679222281!2d-75.574785!3d6.222141!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0f5815194e96cbd!2sNEUMOMED!5e0!3m2!1ses-419!2sus!4v1590792745767!5m2!1ses-419!2sus" width="600" height="450" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
              </div>
            </div>